.is-parallax {
  background-color: #fff;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-position: center 50%;
  /* -webkit-transition: scale 0.5s;
  -webkit-transition-timing-function: linear;
  transition: scale 0.5s;
  transition-timing-function: linear; */
}

/* .is-parallax {
  background-image: url('../../assets/images/company-banner-2000x978.jpg');
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  text-align: center;
}

.is-parallax h1 {
  font-size: 8rem;
  color: #fff;
  font-weight: 700;
}

.parallax-container {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  color: #fff;
}

.is-parallax.is-height-fill {
  min-height: 100vh;
}


#slider {
  background-image: url('../../assets/images/company-banner-2000x978.jpg');
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
} */

