<section class="header1 cid-r0YC7JVPJm mbr-parallax-background section4"
[style.background-image]="'url(' + site_url + '/public/images/' + module_data?.image + ')'" >
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
  </div>

  <div class="container">
      <div class="row justify-content-md-center">
          <div class="mbr-white col-md-10">
              
              <h3 class="mbr-section-subtitle align-center mbr-light pb-3 display-7">
                <strong>{{module_data?.caption}}</strong></h3>
              
              
          </div>
      </div>
  </div>
</section>