
.carousel-content {
    width: 100%;
    background-color: #ffd9a3;
    color: #000000;
  }
  
  .carousel-content .container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .carousel-content h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  .carousel-content p {
    font-size: 1.3rem;
  }
  
  .carousel-vertical .carousel-indicators li {
    cursor: pointer;
  }
  