<section>
            
    <ngb-carousel #myCarousel="ngbCarousel" class="carousel-vertical">
          <ng-template ngbSlide id="0">
            <section class="carousel-content">
              <div class="container">
                  <div class="media-container-column title col-md-10 offset-md-1">
                    <h2>{{module_data[0]?.name}}</h2>
                    <p>{{module_data[0]?.caption}}</p>
                  </div>
              </div>
            </section>
          </ng-template>
  
          <ng-template ngbSlide id="1">
                  <section class="carousel-content" >
                    <div class="container">
                      <div class="media-container-column title col-md-10 offset-md-1">
                          <h2>{{module_data[1]?.name}}</h2>
                          <p>{{module_data[1]?.caption}}</p>
                      </div>
                    </div>
                  </section>
                </ng-template>
  
                <ng-template ngbSlide id="2">
                      <section class="carousel-content">
                        <div class="container">
                            <div class="media-container-column title col-md-10 offset-md-1">
                                <h2>{{module_data[2]?.name}}</h2>
                                <p>{{module_data[2]?.caption}}</p>
                            </div>
                        </div>
                      </section>
                    </ng-template>
          
        </ngb-carousel>
  
      </section>