<section class="cid-r0YIEqAHKQ" id="footer5-7">
  <div class="footer-container">
    <div class="media-container-row foot-sec">
      <div class="col-md-8">
        <p class="mbr-text align-left links mbr-fonts-style display-7">
          <a [routerLink]="['/']" class="text-white">home</a> &nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="['/thinking']" class="text-white">thinking</a> &nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="['/apply']" class="text-white">apply</a> &nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="['/careers']" class="text-white">careers</a>
        </p>
      </div>
      <div class="col-md-4">
        <div class="social-list align-left">

          <div class="soc-item">
            <a href="https://www.facebook.com/TriumNetworks/" target="_blank">
              <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="https://twitter.com/TriumNetworks" target="_blank">
              <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
            </a>
          </div>

          <div class="soc-item">
            <a href="https://www.linkedin.com/company/trium-networks-limited" target="_blank">
              <span class="socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
            </a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="footer-lower">
      <div class="media-container-row mbr-white">
        <div class="col-md-12 copyright">
          <p class="mbr-text mbr-fonts-style display-4 cright">Copyright 2018. All Rights Reserved
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
