<section class="mbr-section info3" id="info3-i">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h1 class="align-left mbr-bold mbr-black pb-3 display-5 info-title">{{module_data?.name}}</h1>
                <h3 class="mbr-section-subtitle align-left mbr-light mbr-black pb-3 display-6">{{module_data?.caption}}</h3>

                <!-- <div class="mbr-section-btn align-left py-4"><a class="btn btn-white-outline display-4" href="#">Find out more</a></div> -->
            </div>
        </div>
    </div>
</section>