<section class="mbr-section content6 cid-r1g0KtL1hk main-title-container" id="content6-y">
    <div class="container">
      <div class="row">
        <div class="main-title-div col-md-6 col-sm-12">
              <div class="row">
                      <div class="col-md-3">
                              <div class="mbr-figure" style="padding-right: 0px !important;">
                                  <img [src]="site_url + '/public/images/' + module_data?.image_left" alt="Mobirise">  
                              </div>
                      </div>
                      <div class="col-md-9">
                              <div class="media-content mbr-white">
                                      <div class="mbr-section-text">                                   
                                          <h2>{{module_data?.name_left}}</h2>
                                          <p>{{module_data?.caption_left}}
                                          </p>
                                  </div>
                              </div>
                      </div>
                  </div>
        </div>
        <div class="main-title-div col-md-6 col-sm-12">
              <div class="row">
                      <div class="col-md-3">
                              <div class="mbr-figure" style="padding-right: 0px !important;">
                                  <img [src]="site_url + '/public/images/' + module_data?.image_right" alt="Mobirise">  
                              </div>
                      </div>
                      <div class="col-md-9">
                              <div class="media-content mbr-white">
                                      <div class="mbr-section-text">                                   
                                              <h2>{{module_data?.name_right}}</h2>
                                              <p>{{module_data?.caption_right}}</p>
                                  </div>
                              </div>
                      </div>
                  </div>
        </div>
      </div>
    </div>
  </section>