<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" >
    <div class="page-content">

            <section class="header1 cid-r0YQSdRQDb mbr-parallax-background contact-banner-container" id="header1-c">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="mbr-white col-md-10">
                                
                                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5 contact-banner-text">Let’s work together</h3>
                            </div>
                        </div>
                    </div>
                
            </section>

            <section class="mbr-section form1 cid-qIofBG0ijI form-container2" id="form1-l" data-sortbtn="btn-primary">    
                    <div class="container" style="min-height: 344px;"> 
                        <div class="contact-info-container">
                                <div class="media-container-row">
                                    <div class="col-md-4" data-video-url="false" data-tags="Awesome">
                                      <div class="contact-info info-body-text">
                                          <div class="media-content align-center">
                                            <a href="#"><img src="assets/images/address-icon.png"></a><br>
                                            <strong>Our Address</strong>
                                            <p class="display-7 icon-text-style">3rd Floor, Rock Tower, The Rock Drive, <br>Lekki Phase One, Lagos, Nigeria</p>
                                          </div>
                                      </div>                        
                                    </div>
                
                                    <div class="col-md-4" data-video-url="false" data-tags="Awesome">
                                        <div class="contact-info info-body-text">
                                           <div class="media-content align-center">
                                            <a href="#"><img src="assets/images/phone-icon.png"></a><br>
                                            <strong>Phone Number</strong>
                                            <p class="display-7 icon-text-style">+234 703 413 8291</p>
                                          </div>
                                      </div>
                                    </div>
                
                                    <div class="col-md-4" data-video-url="false" data-tags="Awesome">
                                        <div class="contact-info info-body-text">
                                           <div class="media-content align-center">
                                            <a href="#"><img src="assets/images/mail-icon.png"></a><br>
                                            <strong>Email Address</strong>
                                            <p class="display-7 icon-text-style">contact@trium.ng</p>
                                          </div>
                                      </div>
                                    </div>
                                </div>                            
                        </div>
                    </div>
                      
                
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-7 block-content">
                              <p class="mbr-text align-left pb-3 mbr-fonts-style display-7 info-text-style" style="padding-bottom:0px !important; margin-bottom: 0.2rem !important;">
                                    Get in touch<br>
                                </p>
                                <h2 class="align-left mbr-bold pb-3 mbr-fonts-style display-5">Say Hello</h2>
                                <p class="mbr-text align-left pb-3 mbr-fonts-style display-7 info-text-style">
                                    Bring to the able win-win survival <strong>strategies to ensure</strong> proactive domination. Climb leg rub face on everything give attitude nap all day for under the bed.<br>
                                </p>
                                <div data-form-type="formoid">
                                    <div data-form-alert="" hidden="">
                                        Thanks for filling out the form!
                                    </div>
                                    <form class="block mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="iOZU3feP0ih9Hy43cxUFoznTrM41v1H7BjlCk1z1hLvEXqHg+jkmG9ln+61/LkuV4pRN0mHWucD54uRjoYJ/BJFB093O3e16gsPFaalFGyWEsOW9ut3PI40zjzHPlptC" data-form-field="Email">
                                        <div class="row form-style2">
                                            <div class="col-lg-6" data-for="name">
                                                <input type="text" class="form-control input" name="name" data-form-field="Name" placeholder="Your Name*" required="" id="name-form1-l">
                                            </div>                            
                                            <div class="col-lg-6" data-for="email">
                                                <input type="text" class="form-control input" name="email" data-form-field="Email" placeholder="Your Email-Address*" required="" id="email-form1-l">
                                            </div>
                                            <div class="col-lg-6" data-for="phone">
                                                <input type="text" class="form-control input" name="phone" data-form-field="Phone" placeholder="Your Phone (optional)" id="phone-form1-l">
                                            </div>
                                            <div class="col-lg-6" data-for="subject">
                                                <input type="text" class="form-control input" name="subject" data-form-field="Subject" placeholder="Subject" id="subject-form1-l">
                                            </div>
                                            <div class="col-md-12" data-for="message">
                                                <textarea class="form-control input" name="message" rows="3" data-form-field="Message" placeholder="Message" id="message-form1-l"></textarea>
                                            </div>
                                            <div class="input-group-btn col-md-12 mt-2 align-left btn-container"><button href="" type="submit" class="btn btn-form btn-bgr btn-success display-4 form-btn">Send Message</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-5">
                                <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6460606412734!2d3.4700952153598332!3d6.4394795953411705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf44d2419cc2b%3A0xa23ac6cacd532099!2sThe+Rock+Tower!5e0!3m2!1sen!2sus!4v1535022968171" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="header12 cid-r1xqnIxNkF partner-container" id="header12-1x">
                    <div class="container">
                            <div class="media-container">
                                <div class="col-md-12 align-center">
                                    <h1 class="mbr-section-title pb-3 mbr-bold mbr-fonts-style display-1 partner-title">
                                        Our Partners</h1>
                                    <div class="container partner-img-container">
                                        <div class="media-container-row img-block1">
                                            <div class="card col-12 col-md-6 col-lg-3">
                                                <div class="icon-block">                                
                                                    <img src="assets/images/travelling.png">
                                                </div>                            
                                            </div>
                
                                            <div class="card col-12 col-md-6 col-lg-3">
                                                <div class="icon-block">
                                                        <img src="assets/images/blue.png">
                                                </div>                            
                                            </div>
                
                                            <div class="card col-12 col-md-6 col-lg-3">
                                                <div class="icon-block">
                                                        <img src="assets/images/mundo.png">
                                                </div>                            
                                            </div>
                
                                            <div class="card col-12 col-md-6 col-lg-3">
                                                <div class="icon-block">
                                                        <img src="assets/images/smith.png">
                                                </div>                            
                                            </div>
                                         </div>
                
                                    <div class="media-container-row img-block2">
                                        <div class="card col-12 col-md-6 col-lg-3">
                                            <div class="icon-block">
                                                <img src="assets/images/studio.png">
                                            </div>                            
                                        </div>
                
                                        <div class="card col-12 col-md-6 col-lg-3">
                                            <div class="icon-block">
                                                    <img src="assets/images/twenty.png">
                                            </div>                            
                                        </div>
                
                                        <div class="card col-xs-6 col-md-6 col-lg-3">
                                            <div class="icon-block">
                                                    <img src="assets/images/newyork.png">
                                            </div>                            
                                        </div>
                
                                        <div class="card col-xs-6 col-md-6 col-lg-3">
                                            <div class="icon-block">
                                                    <img src="assets/images/ms.png">
                                            </div>                            
                                        </div>
                                    </div>
                                    </div> 
                
                                                     
                
                                </div>
                            </div>
                    </div>
                
                        <div class="partner-design">
                                        <img src="assets/images/partner-design.png" alt="">
                                    </div> 
                    
                </section>

                <section class="cid-r0YIEqAHKQ" id="footer5-7">
                        <div class="footer-container">
                            <div class="media-container-row foot-sec">
                                <div class="col-md-8">
                                    <p class="mbr-text align-left links mbr-fonts-style display-7">
                                            <a href="#" class="text-white">home</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" class="text-white">thinking</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" class="text-white">team</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" class="text-white">portfolio</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" class="text-white">careers</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" class="text-white">apply</a>
                                        </p>
                                </div>
                                <div class="col-md-4">
                                    <div class="social-list align-left">
                                            <div class="soc-item">
                                                <a href="#" target="_blank">
                                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                                </a>
                                            </div>
                                            <div class="soc-item">
                                                <a href="#" target="_blank">
                                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                                </a>
                                            </div>                        
                                            
                                            <div class="soc-item">
                                                <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                                    <span class="socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                                                </a>
                                            </div>
                                            <div class="soc-item">
                                                <a href="https://instagram.com/mobirise" target="_blank">
                                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                                </a>
                                            </div> 
                                        </div>
                                </div>
                            </div>
                            <div class="footer-lower">
                                <div class="media-container-row mbr-white">
                                    <div class="col-md-12 copyright">
                                        <p class="mbr-text mbr-fonts-style display-4 cright">Copyright 2018. All Rights Reserved
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>

    </div>
    </ng-scrollbar>