<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;"
    [viewClass]='viewClass' #scrollbarRef>
    <div class="page-content">


        <app-banner *ngIf="page_data?.banner" [banner]="page_data?.banner"
            (scrollEvent)="scrollbarRef.scrollYTo(550, 600).subscribe()"></app-banner>
        <section class="mbr-section form1 cid-qIofBG0ijI form-container2"
            id="form1-l" data-sortbtn="btn-primary">
            <div class="container" style="min-height: 344px;">
                <div class="contact-info-container">
                    <div class="media-container-row">
                        <div class="col-md-4" data-video-url="false"
                            data-tags="Awesome">
                            <div class="contact-info info-body-text">
                                <div class="media-content align-center">
                                    <a href="#"><img
                                            src="assets/images/address-icon.png"></a><br>
                                    <strong>Our Address</strong>
                                    <p class="display-7 icon-text-style">3rd
                                        Floor, Rock Tower, The Rock Drive, <br>Lekki
                                        Phase One, Lagos, Nigeria</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" data-video-url="false"
                            data-tags="Awesome">
                            <div class="contact-info info-body-text">
                                <div class="media-content align-center">
                                    <a href="#"><img
                                            src="assets/images/phone-icon.png"></a><br>
                                    <strong>Phone Number</strong>
                                    <p class="display-7 icon-text-style">+234 1 634 0300</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" data-video-url="false"
                            data-tags="Awesome">
                            <div class="contact-info info-body-text">
                                <div class="media-content align-center">
                                    <a href="#"><img
                                            src="assets/images/mail-icon.png"></a><br>
                                    <strong>Email Address</strong>
                                    <p class="display-7 icon-text-style">contact@trium.ng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-7 block-content">
                        <!-- <p class="mbr-text align-left pb-3 mbr-fonts-style display-7 info-text-style" style="padding-bottom:0px !important; margin-bottom: 0.2rem !important;">
                                    Get in touch<br>
                                </p> -->
                        <h2 class="align-left mbr-bold pb-3 display-5">CONTACT
                            US</h2>
                        <p class="mbr-text align-left pb-3 display-7
                            info-text-style">
                            Got a question? Get in touch, we’d love to hear from
                            you.<br>
                        </p>
                        <div data-form-type="formoid">
                            <form [formGroup]="contact_form" name="contact_form"
                                (ngSubmit)="contactSubmit(contact_form.value)">
                                <div class="row form-style2">

                                    <div class="col-lg-6 form-group"
                                        data-for="name">
                                        <input type="text"
                                            class="form-control"
                                            placeholder="Name/Business*"
                                            formControlName="name"
                                            required>
                                        <span *ngIf="f.name.errors && (submitted
                                            || f.name.touched)">
                                            <small class="text-danger"
                                                *ngIf="f.name.errors.required">Name/Business
                                                is required!</small>
                                        </span>
                                    </div>

                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control
                                            input" name="email"
                                            formControlName="email"
                                            placeholder="Email Address*"
                                            required>
                                        <span class="text-danger"
                                            *ngIf="f.email.errors && (submitted
                                            || f.email.touched)">
                                            <small
                                                *ngIf="f.email.errors.required">Email
                                                Address is required!</small>
                                            <small *ngIf="f.email.errors.email">Email
                                                must be a valid email address!</small>
                                        </span>
                                    </div>

                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control
                                            input" name="phone"
                                            placeholder="Phone Number"
                                            formControlName="phone">
                                        <span class="text-danger"
                                            *ngIf="f.phone.errors && (submitted
                                            || f.phone.touched)">
                                            <small
                                                *ngIf="f.phone.errors.minlength">Phone
                                                number must be at least 9
                                                characters!</small>
                                            <!-- <small *ngIf="f.email.errors.pattern">Phone number must be valid!</small> -->
                                        </span>
                                    </div>

                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control
                                            input" name="subject"
                                            formControlName="subject"
                                            placeholder="Subject*" required>
                                        <span *ngIf="f.subject.errors &&
                                            (submitted || f.subject.touched)">
                                            <small class="text-danger"
                                                *ngIf="f.subject.errors.required">Subject
                                                is required!</small>
                                        </span>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control input"
                                            name="message" rows="4"
                                            formControlName="message"
                                            placeholder="Message*" required></textarea>
                                        <span *ngIf="f.message.errors &&
                                            (submitted || f.message.touched)">
                                            <small class="text-danger"
                                                *ngIf="f.message.errors.required">Message
                                                is required!</small>
                                        </span>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <re-captcha #captchaRef
                                            (resolved)="validate_captcha($event)"></re-captcha>
                                    </div>

                                    <div class="input-group-btn mb-5
                                        align-left btn-container form-group"><button
                                            [disabled]="contact_form.invalid ||
                                            contact_form_valid === false"
                                            type="submit" class="btn btn-form
                                            btn-bgr btn-success display-4
                                            form-btn" name="btnSubmit">Send
                                            Message</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div class="google-map"><iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6460606412734!2d3.4700952153598332!3d6.4394795953411705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf44d2419cc2b%3A0xa23ac6cacd532099!2sThe+Rock+Tower!5e0!3m2!1sen!2sus!4v1535022968171"
                                width="100%" height="500" frameborder="0"
                                style="border:0" allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="header12 cid-r1xqnIxNkF partner-container"
            id="header12-1x">
            <div class="container">
                <div class="media-container">
                    <div class="col-md-12 align-center">
                        <h1 class="mbr-section-title pb-3 partner-title">
                            Our Partners</h1>

                        <div class="container row clearfix py-5">
                            <div class="col-12 col-md-6 col-lg-3" *ngFor="let
                                partner of partners">
                                <img width="150"
                                    src="{{site_url}}/public/images/{{partner.image}}">
                            </div>
                        </div>




                        <!-- 
                        <div class="container partner-img-container row">

                            <div class="card card-images col-12 col-md-6 col-lg-3" *ngFor="let partner of partners">
                                <img width="150" src="{{site_url}}/public/images/{{partner.image}}">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="partner-design">
                <img src="assets/images/partner-design.png" alt="">
            </div>

        </section>


        <app-footer></app-footer>


    </div>
</ng-scrollbar>