<section class="testimonials2 cid-r0YRPdKS9Z" id="testimonials2-e">
    <div class="media-container-row">
        <div class="mbr-figure col-md-6 img-pad">
            <img [src]="site_url + '/public/images/' + module_data?.image" alt="" title="">
        </div>

        <div class="media-content px-3 align-self-center mbr-white col-md-6 section-text-pad1-container">
            <div class="media-container-row section-text-pad1">
                <div class="col-sm-12 col-md-10">
                        <h3 class="section-title" style="color:#000;">{{module_data?.name}}</h3>
                        <p *ngIf="module_data?.sub_name !== ''" 
                        class="mbr-text testimonial-text display-7 text-grey">{{module_data?.sub_name}}</p>
                    <p class="mbr-text testimonial-text display-6 section-body">{{module_data?.caption}}</p>
                </div>
            </div>
        </div>
    </div>
</section>