.is-parallax {
	background-repeat: no-repeat;
	width: 100%;
	max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-position: center 50%;
  }

  .is-banner{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .is-banner.is-banner-min-height{
    min-height: 60vh;
  }

  .is-banner.is-banner-white h1, .is-banner.is-banner-white p{
      color: #ffffff;
  }

.is-banner.is-banner-black h1, .is-banner.is-banner-black p{
    color: #000000;
}

.is-banner.is-banner-white .btn{
    background: none;
    border-color: #ffffff;
    color: #ffffff !important;
}

.is-banner.is-banner-white .btn:hover{
    background: #ffffff;
    color: #000000 !important;
}

.is-banner.is-banner-black .btn{
    background: none;
    border-color: #333333;
    color: #333333 !important;
}

.is-banner.is-banner-black .btn:hover{
    background: #333333;
    color: #ffffff !important;
}