<section *ngIf="banner" 
[class.is-parallax]="true"
[class.is-banner]="true"
[class.is-banner-white]="banner?.color === 'ffffff'"
[class.is-banner-black]="banner?.color === '000000'"
[class.is-banner-min-height]="banner?.height === 0"
[ngStyle]="banner?.image?{'background-image': 'url(' + site_url + '/public/images/' + banner?.image + ')'} : ''"
>
                         <div class="container align-center">
                            <div class="row justify-content-md-center">
                                <div class="col-md-10">
                                    <h1 *ngIf="banner?.name" class="mbr-section-title pb-3 thinking-txt display-5">{{banner?.name}}</h1>
                                    <p *ngIf="banner?.sub_name"  class="mbr-text align-center pb-3 display-7">
                                      {{banner?.sub_name}}
                                  </p>
                                    
                                    <div *ngIf="banner?.link === 1" class="mbr-section-btn"><a class="btn btn-md display-4"
                                        (click)="emitScroll()">Read More</a></div>
                                </div>
                            </div>
                        </div>
                        
</section>