<section class="header1 cid-r0YQSdRQDb is-parallax" *ngIf="banner && banner?.image"
[style.background-image]="'url(' + site_url + '/public/images/' + banner?.image + ')'">
  <div class="justify-content-md-center">
        <h3 *ngIf="banner?.name" class="mbr-section-subtitle align-center mbr-light pb-3 display-5">
            <strong>{{banner?.name}}</strong>
        </h3>

        <p *ngIf="banner?.sub_name" class="mbr-text align-center pb-3 display-7">
                {{banner?.sub_name}}
          </p>

          <div *ngIf="banner?.link === 1" class="mbr-section-btn text-center py-4">
            <a class="btn btn-md btn-black-outline display-4"
            (click)="scrollbarRef.scrollYTo(550, 600).subscribe()">Learn More</a>
          </div>
  </div>
</section>

<section class="header1 cid-r0YQSdRQDb is-parallax" *ngIf="banner && banner?.image === null"
[style.background-image]="'url(' + site_url + '/public/images/' + banner?.image + ')'">
  <div class="justify-content-md-center">
        <h3 *ngIf="banner?.name" class="mbr-section-subtitle align-center mbr-light pb-3 display-5">
            <strong>{{banner?.name}}</strong>
        </h3>

        <p *ngIf="banner?.sub_name" class="mbr-text align-center pb-3 display-7">
                {{banner?.sub_name}}
          </p>

          <div *ngIf="banner?.link === 1" class="mbr-section-btn text-center py-4">
            <a class="btn btn-md btn-black-outline display-4"
            (click)="scrollbarRef.scrollYTo(550, 600).subscribe()">Learn More</a>
          </div>
  </div>
</section>