.portfolio {
  padding-top: 60px;
}

.portfolio.row{
    margin-right: 0;
    margin-left: 0;
}

.portfolio [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  background-color: #000;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  height: 300px;
  cursor: pointer;
  font-weight: 300;
  font-size: 30px;
}

.portfolio [class*="col-"]:hover {
    background-color: #111;
}

.portfolio-modal-wrapper{
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    background-color:  #fff;
    top: 60px;
    z-index: 3;
    display: none;
}

.portfolio-modal{
    padding: 60px 60px 131px;
    color: #696969;
    font-size: 1.1rem;
}

.portfolio-modal h1{
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.portfolio-modal h5, .portfolio-modal h4{
    margin-bottom: .1rem;
    color: #000;
}

.portfolio-modal p{
    width: 80%;
}

.portfolio-modal section{
    background-color: transparent;
    margin-top: 4rem;
}

.portfolio-modal-wrapper img.close{
    position: absolute;
    width: 45px;
    right: 50px;
    top: 40px;
    cursor: pointer;
    z-index: 1;
}


