<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" >
    <div class="page-content">

            <section style="background-color: none !important; margin-top: 78px;">
                    <div class="col-md-12">
                      <div class="row">   
                      
                          <div class="col-lg-4 col-xs-6 team-background" data-target="#image-gallery">
                              <div class="row">
                                  <div class="team-img-container">
                                      <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                       data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                       data-target="#image-gallery">
                                        <img class="" src="assets/images/wallet.png"
                                           alt="Another alt text">
                                      </a>
                                  </div>
                              </div>                
                            </div>

                            <div class="col-lg-4 col-xs-6 team-background" data-target="#image-gallery">
                                    <div class="row">
                                        <div class="team-img-container">
                                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                             data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                             data-target="#image-gallery">
                                              <img class="" src="assets/images/wallet.png"
                                                 alt="Another alt text">
                                            </a>
                                        </div>
                                    </div>                
                            </div>

                            <div class="col-lg-4 col-xs-6 team-background" data-target="#image-gallery">
                                        <div class="row">
                                            <div class="team-img-container">
                                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                                 data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                                 data-target="#image-gallery">
                                                  <img class="" src="assets/images/wallet.png"
                                                     alt="Another alt text">
                                                </a>
                                            </div>
                                        </div>                
                            </div>

                            <div class="col-lg-4 col-xs-6 team-background" data-target="#image-gallery">
                                    <div class="row">
                                        <div class="team-img-container">
                                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                             data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                             data-target="#image-gallery">
                                              <img class="" src="assets/images/wallet.png"
                                                 alt="Another alt text">
                                            </a>
                                        </div>
                                    </div>                
                            </div>

                            <div class="col-lg-4 col-xs-6 team-background" data-target="#image-gallery">
                                    <div class="row">
                                        <div class="team-img-container">
                                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                             data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                             data-target="#image-gallery">
                                              <img class="" src="assets/images/wallet.png"
                                                 alt="Another alt text">
                                            </a>
                                        </div>
                                    </div>                
                            </div>

                            <div class="col-lg-4 col-xs-6 team-background" data-target="#image-gallery">
                                    <div class="row">
                                        <div class="team-img-container">
                                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                                             data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                             data-target="#image-gallery">
                                              <img class="" src="assets/images/wallet.png"
                                                 alt="Another alt text">
                                            </a>
                                        </div>
                                    </div>                
                            </div>  

                      
                            
                
                          <!--modal start here-->
                        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="col-md-12 modal-dialog modal-lg team-modal-container">
                              <div class="row">
                                <div class="modal-content team-modal-content">
                                    <div class="modal-header">                        
                                        <button type="button" class="close" data-dismiss="modal"><span class="mbri-close"></span><span class="sr-only">Close</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body-pad">
                                          <h3>Banking & Finance</h3>
                                          <img src="assets/images/modal-img-logo.png" alt="">
                                        </div>
                                        <div class="col-md-5 col-sm-12 modal-body-pad">
                                          <div class="row">
                                            <p class="modal-body-text">Our mission is to bring success to our clients by making payments and transactions easier, faster and more accessible to both businesses and individuals.</p>
                                          </div>
                                        </div>                        
                                        <div class="founder-name modal-body-pad">
                                          <h5>Founders</h5>
                                          <p>John Oke</p>
                                        </div>
                                        <div class="website-name">
                                          <h5>Website</h5>
                                          <p>www.wallet.ng</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal ends here-->
                      </div>
                  </div>
                
                </section>
                
                <section class="cid-r0YIEqAHKQ" id="footer5-7">
                    <div class="footer-container">
                        <div class="media-container-row foot-sec">
                            <div class="col-md-8">
                                <p class="mbr-text align-left links mbr-fonts-style display-7">
                                        <a href="#" class="text-white">home</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">thinking</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">team</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">portfolio</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">careers</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">apply</a>
                                    </p>
                            </div>
                            <div class="col-md-4">
                                <div class="social-list align-left">
                                        <div class="soc-item">
                                            <a href="#" target="_blank">
                                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>
                                        <div class="soc-item">
                                            <a href="#" target="_blank">
                                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>                        
                                        
                                        <div class="soc-item">
                                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                                <span class="socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>
                                        <div class="soc-item">
                                            <a href="https://instagram.com/mobirise" target="_blank">
                                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="footer-lower">
                            <div class="media-container-row mbr-white">
                                <div class="col-md-12 copyright">
                                    <p class="mbr-text mbr-fonts-style display-4 cright">Copyright 2018. All Rights Reserved
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                
                

    </div>
    </ng-scrollbar>