<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" [viewClass]='viewClass'>
    <div class="page-content" #scrollbarRef>

        <div class="portfolio row" *ngIf="portfolios">
            <div *ngFor="let portfolio of portfolios" (click)="show_modal(portfolio)"
             class="col-sm-4 col-sm-6 col-md-4">{{portfolio?.name}}</div>
        </div>
        
            
    
    </div>
</ng-scrollbar>


<div class="portfolio-modal-wrapper">
        <img (click)="hide_modal()" class="close" src="assets/images/close.png" />
<ng-scrollbar style="height: 100vh;" >
<div class="portfolio-modal">
    <h4>{{details?.industry}}</h4>
    <h1>{{details?.name}}</h1>
    <p>{{details?.description}}</p>

    <section>
            <h5>Founders</h5>
            {{details?.founders}}
    </section>
    <section>
            <h5>Website</h5>
            {{details?.website}}
    </section>
</div>
</ng-scrollbar>
</div>
