<section class="testimonials3 cid-r0YTu2YDCb" id="testimonials3-f">
  
    <div class="media-container-row">
        <div class="media-content px-3 align-self-center mbr-white col-md-6 section-text-pad1-container">
            <div class="media-container-row section-text-pad1">
                <div class="col-sm-12 col-md-10">
                    <h3 class="section-title section-title-gold">{{module_data?.name}}</h3>
                    <p *ngIf="module_data?.sub_name !== ''" 
                    class="mbr-text display-7 mbr-white">{{module_data?.sub_name}}</p>
                    <p class="mbr-author-desc display-6 section-body">{{module_data?.caption}}</p>
                </div>
            </div>
        </div>

        <div class="mbr-figure col-md-6 img-pad">
            <img [src]="site_url + '/public/images/' + module_data?.image" >
        </div>
    </div>
</section>
