<!-- <div class="bg-animated"></div> -->
<!-- <div id="particles-js" style="position: absolute; width: 100vw; height: 100vh; z-index: 0;"> -->
    <particles [params]="pjs_params" [style]="pjs_style" [width]="pjs_width" [height]="pjs_height"></particles>

<header class="clearfix">
  <div class="logo">
    <a [routerLink]="['/']">
    <img src="assets/images/logo-inverse.png" class="set-logo-inverse">
    <img src="assets/images/logo.png" class="set-logo">
    </a>
  </div>

  <div class="toggle">
    <button (click)="toggle_page()" class="hamburger">
      <span></span>
    </button>

    <!---->
    <button (click)="toggle_page()" class="hamburger-close">
      <span></span>
    </button>

  </div>
</header>

<nav class="main row">
  <div class="col-3">
    <a (click)='goto(0, "")' (mouseenter)="hover(0)" href="javascript:void(0)">Home</a>
  </div>
  <div class="col-3">
    <a (click)='goto(1, "company", 1)' (mouseenter)="hover(1)" href="javascript:void(0)">Company</a>
  </div>
  <div class="col-3">
    <a (click)='goto(2, "capital", 1)' (mouseenter)="hover(2)" href="javascript:void(0)">Capital</a>
  </div>
  <div class="col-3">
    <a (click)='goto(3, "consulting", 1)' (mouseenter)="hover(3)" href="javascript:void(0)">Consulting</a>
  </div>
  <div class="col-3">
    <a (click)='goto(4, "contact", 1)' (mouseenter)="hover(4)" href="javascript:void(0)">Contact</a>
  </div>
  <div class="col-3">
    <a (click)='goto(5, "thinking", 1)' (mouseenter)="hover(5)" href="javascript:void(0)">Thinking</a>
  </div>
  <div class="col-3">
    <a (click)='goto(6, "team", 1)' (mouseenter)="hover(6)" href="javascript:void(0)">Team</a>
  </div>
  <div class="col-3">
    <a (click)='goto(7, "portfolio")' (mouseenter)="hover(7)" href="javascript:void(0)">Portfolio</a>
  </div>
</nav>

<div class="t-pages" [ngStyle]="tr_page_style">
  

  <div class="td-page is-home" [ngStyle]="td_page_style">
    <ng-template #is_home></ng-template>
  </div>
  <div class="td-page is-company" [ngStyle]="td_page_style">
    <ng-template #is_company></ng-template>
  </div>
  <div class="td-page is-capital" [ngStyle]="td_page_style">
    <ng-template #is_capital></ng-template>
  </div>
  <div class="td-page is-consulting" [ngStyle]="td_page_style">
    <ng-template #is_consulting></ng-template>
  </div>
  <div class="td-page is-contact" [ngStyle]="td_page_style">
    <app-contact *ngIf='current_index !== 4'></app-contact>
    <router-outlet *ngIf='current_index === 4'></router-outlet>
  </div>
  <div class="td-page is-thinking" [ngStyle]="td_page_style">
    <app-thinking *ngIf='current_index !== 5'></app-thinking>
    <router-outlet *ngIf='current_index === 5'></router-outlet>
  </div>
  <div class="td-page is-team" [ngStyle]="td_page_style">
    <app-team *ngIf='current_index !== 6'></app-team>
    <router-outlet *ngIf='current_index === 6'></router-outlet>
  </div>
  <div class="td-page is-portfolio" [ngStyle]="td_page_style">
    <app-portfolio *ngIf='current_index !== 7'></app-portfolio>
    <router-outlet *ngIf='current_index === 7'></router-outlet>
  </div>
</div>

<!-- </div> -->
