<!-- <div class="bg-animated"></div> -->
<!-- <div id="particles-js" style="position: absolute; width: 100vw; height: 100vh; z-index: 0;"> -->
<particles [params]="pjs_params" [style]="pjs_style" [width]="pjs_width" [height]="pjs_height"></particles>

<header class="clearfix">
  <div class="logo">
    <a (click)='goto(0, "")' href="javascript:void(0)">
      <img src="assets/images/logo.png" class="set-logo">
      <img src="assets/images/logo-inverse.png" class="set-logo-inverse">
    </a>
  </div>

  <div class="toggle" *ngIf="inner_page === false">
    <button (click)="toggle_page()" class="hamburger">
      <span></span>
    </button> 

    <!---->
    <button (click)="toggle_page()" class="hamburger-close">
      <span></span>
    </button>
  </div>
</header>

<nav class="main row">
  <div class="col-6 col-md-3">
    <a (click)='goto(0, "")' (mouseenter)="hover(0)" href="javascript:void(0)">Home<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(1, "company", 1)' (mouseenter)="hover(1)" href="javascript:void(0)">Company<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(2, "capital", 1)' (mouseenter)="hover(2)" href="javascript:void(0)">Capital<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(3, "consulting", 1)' (mouseenter)="hover(3)" href="javascript:void(0)">Consulting<span></span></a>
  </div>
  <div class="col-6 col-md-3">
      <a (click)='goto(4, "careers")' (mouseenter)="hover(4)" href="javascript:void(0)">Careers<span></span></a>
    </div>
  <div class="col-6 col-md-3">
        <a (click)='goto(5, "apply", 1)' (mouseenter)="hover(5)" href="javascript:void(0)">Apply<span></span></a>
  </div>
  <div class="col-6 col-md-3">
      <a (click)='goto(6, "thinking", 1)' (mouseenter)="hover(6)" href="javascript:void(0)">Thinking<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(7, "contact", 1)' (mouseenter)="hover(7)" href="javascript:void(0)">Contact<span></span></a>
  </div>
  
  
 
</nav>



<!-- <main [@routingAnimation]="o.isActivated ? o.activatedRoute : ''"> -->

<div class="t-pages" [ngStyle]="tr_page_style">
    <ng-container *ngIf='inner_page === true'>
        <router-outlet *ngIf='inner_page === true'></router-outlet>
    </ng-container>
    
  <div [hidden]="inner_page === true">
  <div class="td-page is-home" [ngStyle]="td_page_style">
    <app-home [page_data]='app_data.home'></app-home>
  </div>

  <div class="td-page is-company" [ngStyle]="td_page_style">
      <app-company [page_data]='app_data.company'></app-company>
  </div>

  <div class="td-page is-capital" [ngStyle]="td_page_style">
    <app-capital [page_data]='app_data.capital'></app-capital>
  </div>

  <div class="td-page is-consulting" [ngStyle]="td_page_style">
    <app-consulting [page_data]='app_data.consulting'></app-consulting>
  </div>

  <!-- <div class="td-page is-portfolio" [ngStyle]="td_page_style">
    <app-portfolio [page_data]='app_data.portfolio'></app-portfolio>
  </div> -->

  <div class="td-page is-careers" [ngStyle]="td_page_style">
    <app-careers [page_data]='app_data.careers'></app-careers>
  </div>

  <div class="td-page is-team" [ngStyle]="td_page_style">
    <app-apply [page_data]='app_data.apply'></app-apply>
  </div>

  <div class="td-page is-thinking" [ngStyle]="td_page_style">
    <app-thinking [page_data]='app_data.thinking'></app-thinking>
  </div>

  <div class="td-page is-contact" [ngStyle]="td_page_style">
    <app-contact [page_data]='app_data.contact'></app-contact>
  </div>

</div>
</div>

<!-- </main> -->
