<!-- <div class="bg-animated"></div> -->
<!-- <div id="particles-js" style="position: absolute; width: 100vw; height: 100vh; z-index: 0;"> -->
<particles [params]="pjs_params" [style]="pjs_style" [width]="pjs_width" [height]="pjs_height"></particles>

<header class="clearfix">
  <div class="logo">
    <a (click)='goto(0, "")' href="javascript:void(0)">
      <img src="assets/images/logo-inverse.png" class="set-logo-inverse">
      <img src="assets/images/logo.png" class="set-logo">
    </a>
  </div>

  <div class="toggle">
    <button (click)="toggle_page()" class="hamburger">
      <span></span>
    </button>

    <!---->
    <button (click)="toggle_page()" class="hamburger-close">
      <span></span>
    </button>

  </div>
</header>

<nav class="main row">
  <div class="col-6 col-md-3">
    <a (click)='goto(0, "")' (mouseenter)="hover(0)" href="javascript:void(0)">Home<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(1, "company", 1)' (mouseenter)="hover(1)" href="javascript:void(0)">Company<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(2, "capital", 1)' (mouseenter)="hover(2)" href="javascript:void(0)">Capital<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(3, "consulting", 1)' (mouseenter)="hover(3)" href="javascript:void(0)">Consulting<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(4, "contact", 1)' (mouseenter)="hover(4)" href="javascript:void(0)">Contact<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(5, "thinking", 1)' (mouseenter)="hover(5)" href="javascript:void(0)">Thinking<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(6, "team", 1)' (mouseenter)="hover(6)" href="javascript:void(0)">Team<span></span></a>
  </div>
  <div class="col-6 col-md-3">
    <a (click)='goto(7, "portfolio")' (mouseenter)="hover(7)" href="javascript:void(0)">Portfolio<span></span></a>
  </div>
</nav>

<div class="t-pages" [ngStyle]="tr_page_style">

  <div class="td-page is-home" [ngStyle]="td_page_style">
    <app-home *ngIf='current_index !== 0'></app-home>
  </div>

  <div class="td-page is-company" [ngStyle]="td_page_style">
    <app-company *ngIf='current_index !== 1'></app-company>
  </div>

  <div class="td-page is-capital" [ngStyle]="td_page_style">
    <app-capital *ngIf='current_index !== 2'></app-capital>
  </div>

  <div class="td-page is-consulting" [ngStyle]="td_page_style">
    <app-consulting *ngIf='current_index !== 3'></app-consulting>
  </div>


  <!-- <div class="td-page is-home" [ngStyle]="td_page_style">
    <ng-template #is_home></ng-template>
  </div>
  <div class="td-page is-company" [ngStyle]="td_page_style">
    <ng-template #is_company></ng-template>
  </div>
  <div class="td-page is-capital" [ngStyle]="td_page_style">
    <ng-template #is_capital></ng-template>
  </div>
  <div class="td-page is-consulting" [ngStyle]="td_page_style">
    <ng-template #is_consulting></ng-template>
  </div> -->
  <div class="td-page is-contact" [ngStyle]="td_page_style">
    <app-contact *ngIf='current_index !== 4'></app-contact>
  </div>
  <div class="td-page is-thinking" [ngStyle]="td_page_style">
    <app-thinking *ngIf='current_index !== 5'></app-thinking>
  </div>
  <div class="td-page is-team" [ngStyle]="td_page_style">
    <app-team *ngIf='current_index !== 6'></app-team>
  </div>
  <div class="td-page is-portfolio" [ngStyle]="td_page_style">
    <app-portfolio *ngIf='current_index !== 7'></app-portfolio>
  </div>
</div>

<!-- </div> -->
