

body {
	background: #7981B2;
	color: #fff;
	font-weight: 500;
	font-size: 1em;
	position: relative;
	font-family: 'Raleway', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.svg-container {
	margin-top: 20%;
	width: 100%;
	height: 250px;
}

@media screen and (min-width: 680px) {
	.svg-container {
		width: 50%;
		height: 50%;
	}
}