.is-parallax {
    background-color: #fff;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-position: center 50%;
}

.is-parallax.is-height-fill{
    min-height: 100vh;
}


#slider {
	background-image: url('../../assets/images/company-banner-2000x978.jpg');
	background-repeat: no-repeat;
	width: 100%;
    min-height: 100vh;
	max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
  -webkit-background-attachment: fixed;
}
