<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;"
  [viewClass]='viewClass' #scrollbarRef>
  <div class="page-content">

    <app-banner *ngIf="page_data?.banner" [banner]="page_data?.banner"
      (scrollEvent)="scrollbarRef.scrollYTo(550, 600).subscribe()"></app-banner>
    <ng-container *ngFor="let module of modules" [ngSwitch]="module.module_id">
      <app-module1 *ngSwitchCase="'1'" [module_data]="module.data"></app-module1>
      <app-module2 *ngSwitchCase="'2'" [module_data]="module.data"></app-module2>
      <app-module3 *ngSwitchCase="'3'" [module_data]="module.data"></app-module3>
      <app-module4 *ngSwitchCase="'4'" [module_data]="module.data"></app-module4>
      <app-module5 *ngSwitchCase="'5'" [module_data]="module.data"></app-module5>
      <app-module6 *ngSwitchCase="'6'" [module_data]="module.data"></app-module6>
      <app-module7 *ngSwitchCase="'7'" [module_data]="module.data"></app-module7>
      <app-module8 *ngSwitchCase="'8'" [module_data]="module.data"></app-module8>
    </ng-container>

    <app-footer></app-footer>




  </div>
</ng-scrollbar>