<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" >
    <div class="page-content">

            <section class="engine"><a href="https://mobiri.se/h">how to create a web page for free</a></section><section class="cid-r1g4TImjEu mbr-fullscreen mbr-parallax-background" id="header2-12">
                     <div class="container align-center">
                        <div class="row justify-content-md-center">
                            <div class="mbr-white col-md-10">
                                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">We help Africa’s most 
                innovative technology 
                startups grow quickly.<br><br></h1>
                                
                                
                                <div class="mbr-section-btn"><a class="btn btn-md btn-white-outline display-4" href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
                        <a href="#next">
                            <i class="mbri-arrow-down mbr-iconfont"></i>
                        </a>
                    </div>
            </section>

            <section class="mbr-section content4 cid-r1gddltV3X" id="content4-1c">
                    <div class="media-container-row">
                        <div class="title col-12 col-md-8 thinking-gallery-title">
                            <h2 class="align-center pb-3 mbr-fonts-style display-5">
                                What's New?
                            </h2>                 
                        </div>
                    </div>
            </section>

            <section style="background-color: #fff;">
                    <!-- Filter --><!-- Gallery -->
                    <div class="container mbr-gallery-row">
                      <div class="mbr-gallery-layout-default">
                        <div class="col-md-12">
                          <div class="row">
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer1">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer2">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer3">
                                                <div class="card">
                                                  <div class="card-header card-pad-top">Blog</div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer card-pad-bottom">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer4">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer5">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer6">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                              <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer7">
                                                <div class="card">
                                                  <div class="card-header card-pad-top">Blog</div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer card-pad-bottom">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer8">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>    
            
            </section>

            <section class="mbr-section content4 cid-r1gddltV3X" id="content4-1a">
                    <div class="media-container-row">
                        <div class="title col-12 col-md-8 thinking-gallery-title">
                            <h2 class="align-center pb-3 mbr-fonts-style display-5">
                                Technology
                            </h2>
                        </div>
                    </div>
            </section>
            
            <section class="mbr-gallery mbr-slider-carousel cid-r1gdvrIwZj" id="gallery3-1d">
            
               <div class="section_principal" id="funmi">
                    <div class="container mbr-gallery-row gallery-height">
                      <div class="mbr-gallery-layout-default">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer1">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer2">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer3">
                                                <div class="card">
                                                  <div class="card-header card-pad-top">Blog</div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer card-pad-bottom">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer4">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <!--display more here-->
                    <div class="collapse" id="more">
                        <div class="col-md-12">
                          <div class="row">
                                <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer5">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer6">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                              <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer7">
                                                <div class="card">
                                                  <div class="card-header card-pad-top">Blog</div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer card-pad-bottom">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer8">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer1">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer2">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer3">
                                                <div class="card">
                                                  <div class="card-header card-pad-top">Blog</div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer card-pad-bottom">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer4">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer5">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                            <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer6">
                                                <div class="card">
                                                  <div class="card-header"></div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
                              <div class="col-lg-3 col-sm-4"> 
                              <div class="row">
                                    <div class="blog-img" style="background-image: url('assets/images/blog-img-594x475-594x475.jpg');">
                                            <a href="thinking-blog.html" class="img-pointer layer7">
                                                <div class="card">
                                                  <div class="card-header card-pad-top">Blog</div>
                                                  <div class="card-body"></div> 
                                                  <div class="card-footer card-pad-bottom">Main Title</div>
                                                </div>
                                            </a>
                                    </div>                            
                                </div>
                            </div>
            
            
            
                            </div>
                        </div>
                    </div>
                            <!-- display ends here-->
                                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                                <!--<a class="more" data-toggle="collapse" href="#more"><i class="fa fa-plus"></i></a>-->
            
                    <div class="media-container-row title">
                        <div class="col-12 col-md-8">
                            <div class="mbr-section-btn align-center"><a class="more btn btn-black-outline display-4" data-toggle="collapse" href="#more">View More</a></div>
                        </div>
                    </div>
            
            
            </section>

            <section class="cid-r0YIEqAHKQ" id="footer5-7">
                    <div class="footer-container">
                        <div class="media-container-row foot-sec">
                            <div class="col-md-8">
                                <p class="mbr-text align-left links mbr-fonts-style display-7">
                                        <a href="#" class="text-white">home</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">thinking</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">team</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">portfolio</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">careers</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">apply</a>
                                    </p>
                            </div>
                            <div class="col-md-4">
                                <div class="social-list align-left">
                                        <div class="soc-item">
                                            <a href="#" target="_blank">
                                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>
                                        <div class="soc-item">
                                            <a href="#" target="_blank">
                                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>                        
                                        
                                        <div class="soc-item">
                                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                                <span class="socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>
                                        <div class="soc-item">
                                            <a href="https://instagram.com/mobirise" target="_blank">
                                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div> 
                                    </div>
                            </div>
                        </div>
                        <div class="footer-lower">
                            <div class="media-container-row mbr-white">
                                <div class="col-md-12 copyright">
                                    <p class="mbr-text mbr-fonts-style display-4 cright">Copyright 2018. All Rights Reserved
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                

    </div>
    </ng-scrollbar>