
.is-parallax {
    background-color: #fff;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-position: center 50%;
  }