<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;"
  [viewClass]='viewClass' #scrollbarRef>
  <div class="page-content">
    <app-banner *ngIf="page_data?.banner" [banner]="page_data?.banner"
      (scrollEvent)="scrollbarRef.scrollYTo(550, 600).subscribe()"></app-banner>
    <!-- Post by category -->
    <section class="py-5" *ngFor="let key of objectKey(filterPost())">
      <div class="container mbr-gallery-row">
        <h2 class="pb-3 display-5"> {{key}} </h2>

        <div class="mbr-gallery-layout-default">
          <div class="col-md-12">
            <div class="row row-layer">

              <div *ngFor="let post of filterPost()[key]" class="col-lg-3
                col-sm-4 col-layer">
                <div class="row">
                  <div class="blog-img"
                    [style.background-image]="'url(' + site_url +
                    '/public/images/' + post?.image + ')'">
                    <a (click)="open_link(post?.link)" class="img-pointer
                      layer">
                      <div class="card">
                        <div class="card-footer">
                          {{post?.name}}
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>




            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </section>
    <!-- /Post by category -->


    <div class="media-container-row title pb-4">
      <div class="col-12 col-md-8">
        <div class="mbr-section-btn align-center"><a class="more btn
            btn-black-outline display-4" data-toggle="collapse"
            (click)="open_link('https://www.trium.ng/blog')">View
            More</a></div>
      </div>
    </div>

    <app-footer></app-footer>

  </div>
</ng-scrollbar>