<section class="mbr-section info3" id="info3-i">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <div class="row">
                <p class="mbr-section-subtitle align-left mbr-light 
                mbr-black pb-3 display-7">{{module_data?.caption}}</p>
            </div>                        
            </div>
        </div>
    </div>
</section>