body{
    font-family: 'arial' !important;
    background-color: #f6f6f6 !important;
}
.navbar .o-logo {
    top: 2.5rem ;
    left: -55px ;
}
.movetxt {
    -webkit-animation: moving .6s ;
    animation: moving .6s ;
    transform-origin: 0 0;
    text-overflow: clip;
}
@keyframes moving {
    from {transform: translateY(60px);}
    to {transform: translateY(0px);}
}

.carousel-container{
  height: auto !important;
  min-height: 660px;
}
/*.item-container{
  margin: 0px 100px !important;
}*/
.item{
    background: transparent;    
    text-align: left;
}
.control-buttons{
  text-align:center;
}
.transition-timer-carousel-progress-bar {
    height: 3px;
    background: rgba(255, 255, 255, 1.0);
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    margin-top: 630px;
    /* top: 650px; */
    position: relative;
}


/**new**/
.overlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.overlay > label {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
    margin-right: 30px;
    width: 45px;
    height: 26px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.overlay > label::before {
    content: '';
    display: block;
    position: relative;
    top: 7px;
    font-weight: bold;
    border-top: 4px solid #000;
}

.verticalNav {
    color: #333;
    position: relative;
    top: -350px;
  height:auto !important;
    min-height: 150px;
    width:100%;
    padding-top: 106px;
    font-size: 22px;
    box-sizing: border-box;
    background-color: transparent;
    transition: top 40ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.verticalNav a {
    display: inline-block;
    color: #000;
    text-decoration: none;
  
}

.verticalNav a:hover {
    background-color: transparent;
}

.puppies {
    padding-bottom: 10px;
    margin-left: 0px;
    background-color: transparent;
    transition: margin-top 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#toggle {
    position: absolute;
    visibility: hidden;
}

#toggle:checked ~ .verticalNav {
    top: 80px;
}

#toggle:checked  ~ .puppies {
    margin-top: 474px;
}
.item-container .carousel-caption{
  color:#000 !important;
  text-align:left !important;
  margin-bottom:50px;
  left: 0% !important;
   top: -25px;
    right: 6% !important;
}
.item-container.carousel-caption h3{
  margin-bottom: 15px !important;
  text-shadow: none !important;
    line-height: 1;
}
.item-container .carousel-caption p{
  margin: 0 0 153px !important;
  color: #313131;
  font-size: 28px;
  font-weight: 400;
  text-shadow: none !important;
}
.item-container .carousel-caption h3 a{
  font-size:11rem;
  font-weight:700 !important;
  text-transform:Capitalize;
  color:#130932;
  text-decoration:none;
  margin-bottom: 15px !important;
  text-shadow: none !important;
    line-height: 1;
  height: 105px;
    clip: rect(105px, 522px, 105px, 0px);

}
.item-container .carousel-caption h3 a:hover, .item-container .carousel-caption h3 a:onfocus{
  color: #ccc;
}

.trium-carousel .carousel-indicators{    
    background-color: rgba(255, 255, 255, 0.33);
    position: relative !important;
    width: 100% !important;
    bottom: 0 !important;
    top: -183px !important;
    left: 0% !important;
    margin-left: 0px !important;
    cursor: pointer;
    margin-right: 0px !important;
    z-index: -6;
}

.carousel-indicators li{
 height: 91px !important;
 color: #000;
 font-weight: bold;
 font-size: 5em;
}
.trium-carousel .carousel-indicators .active{
    height: auto !important;
  min-height: 171px;
    color: #fff;
    background-color: #130932;
}
.indicator-pad{
  height: auto !important;
  min-height: 171px;
    padding-top: 67px;
  padding-left: 0px !important;
  padding-right: 0px !important;
    font-size: 30px;
    font-weight: 550;
    color: #130932;
    text-transform: uppercase;
}
.movetxt h3 a:hover, .movetxt h3 a:focus{
  font-weight: 700;
  color: grey;
}
.container-toggle{
  height: auto !important;
  min-height: 200px;
}
.bar2{
  left: 100% !important;
}
.bar3{
  left: 200% !important;
}
.bar4{
  left: 300% !important;
}
/**.topnav .menu-div{
    margin-top: 106px;
}
.mobile-container {
  max-width: 100%;
  margin: auto;
  background-color: transparent;
  height: 500px;
  color: white;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    right: 44px;
    z-index: 6;
    padding-bottom: 142px;
}

.topnav #myLinks {
  display: none;
}

.topnav div a {
  color: #000;
  padding:32px 4px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  background-color:transparent;
  display:inline-block;
  height: 70px;
  text-transform: capitalize;
}**/
.menu-div .mylink::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-bottom: 4px solid #00e7cb !important;
    transition: width .3s;
}

.menu-div .mylink:hover::after {
    width: 100%;
    //transition: width .3s;
}
.menu-div .mylink{
  text-transform: capitalize;
  font-size: 28px;
}
.menu-div div{
    height: 110px;
    text-align: center !important;
}
.menu-div .active{
    border-bottom: 4px solid #00e7cb !important;
    transition: width .3s;

}
/* .menu-div .active::after {
    border-bottom: 4px solid #00e7cb !important;
    transition: width .3s;
} */
.container-toggle .menu-div .no-border-bottom:hover, .container-toggle .menu-div .no-border-bottom:focus{
  border-bottom: none !important;
}

/* .menu-div .active:hover::after {
    width: 100%;
    //transition: width .3s;
} */

.topnav .icon{
  padding: 15px 16px 75px 16px;
  text-decoration: none;
  font-size: 40px;
  text-decoration: none;
  color: #000;
}
.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
}
.topnav a.icon .fa-bars{
    color: #000;
}
.topnav a.icon:hover, .topnav a.icon:visited, .topnav a.icon:focus{
    color: #000;
    text-decoration: none;
}

.topnav a:hover {
  background-color: transparent;
  color: black;
  border-bottom: none !important;
  text-decoration: none;
}
.home-indicators .carousel-indicators{
    left: 0 !important;
    width: 100% !important;
    margin-left: 0px !important;
    justify-content: left !important;
        height: 91px;
            top: 700px;
}
.home-indicators .carousel-indicators li{
    width: 24.9% !important;
    height: 91px !important;
    border-radius: 0px !important;
    border: none !important;
    border-right: 1px solid #c4c4c4 !important;
    color: #ccc !important;
        background-color: rgba(255, 255, 255, 0.5);
}
.home-indicators .carousel-indicators .indicator-link .active {
    background-color: red !important;
    color: #000 !important;
}
.home-indicators .img-item .carousel-caption{
    color: #000 !important;
    background-color: transparent !important;
    top: 170px;
    left: 1119%;
    text-align: left;
}
.home-indicators .img-item{
    background-color: transparent !important;
}
.home-indicators .carousel-inner>.active{
    display: inline-table;
}


.stripe-1 {
  height:974px;
  color: white;
  -webkit-animation: moveBars 2s linear infinite;
  -moz-animation: moveBars 2s linear infinite;
  -ms-animation: moveBars 2s linear infinite;
  -o-animation: moveBars 2s linear infinite;
  animation: moveBars 2s linear infinite;
  background: repeating-linear-gradient(
    120deg,
    #f6f6f6,
    #f6f6f6 400px,
    #f0eff2 400px,
    #f0eff2 650px
  );
}
.trium-body-container{
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 100%;
}
 
.trium-body-container .o-pages__page{
    background-color: transparent !important;
}

.stripe-2 {
  height:500px;
  color: white;
  -webkit-animation: moveBars 2s linear infinite;
  -moz-animation: moveBars 2s linear infinite;
  -ms-animation: moveBars 2s linear infinite;
  -o-animation: moveBars 2s linear infinite;
  animation: moveBars 2s linear infinite;
  background: repeating-linear-gradient(
    120deg,
    #130932,
    #130932 400px,
    #191038 400px,
    #191038 650px
  );
}

.stripe-3 {
  height:500px;
  color: white;
  -webkit-animation: moveBars 2s linear infinite;
  -moz-animation: moveBars 2s linear infinite;
  -ms-animation: moveBars 2s linear infinite;
  -o-animation: moveBars 2s linear infinite;
  animation: moveBars 2s linear infinite;
  background: repeating-linear-gradient(
    120deg,
    #f6f6f6,
    #f6f6f6 400px,
    #f0eff2 400px,
    #f0eff2 650px
  );
}

.capital-body-container .container{
   position: absolute;
    top: 25%;
    left: 20%;
}

/* ANIMATIONS */
@keyframes moveBars { 100% { margin-left: 500px; } }
@-webkit-keyframes moveBars { 100% { margin-left: 500px; } }
@-moz-keyframes moveBars { 100% { margin-left: 500px; } }
@-ms-keyframes moveBars { 100% { margin-left: 500px; } }
@-o-keyframes moveBars { 100% { margin-left: 500px; } }




.o-navi .o-navi__item a{
    color: #000 !important;
}

.cid-r0Ytablk5B .navbar{
    background-color: #000 !important;
}

.active-link{
	border-bottom: 1px solid #c4b7a7;
}
.active-button{
    background-color: #fff !important;
    color: #000 !important;
}
.mbr-arrow a .mbri-arrow-down{
	color: #000;
    font-weight: 700;
    font-size: 1.2em;
    position: absolute;
    left: 10px;
    top: 11px;
}
.mbr-arrow>a{
  animation : none !important; 
}
.mbr-arrow{
    animation: arrowdown 1.7s ease-in-out infinite;
    left: 48% !important;
}
.section4{
	padding-bottom: 0px !important;
}
.section4-txt1{
	font-size: 1.6em !important;
    margin-top: 75px;
}
.section5{
	display: inline-block !important;
}
.section5-h{
    display: inline-block !important;
}
.section6 H2{
	line-height: 1.2;
}
.section5 h2{
	font-size: 1.8rem !important;
	color: #000 !important;
    line-height: 1.4;
}
.section5 h3 {
    color: #000 !important;
    font-weight: 500;
    font-size: 1.5em !important;
}
.section5-h h2{
    font-size: 1.8rem !important;
    color: #fff !important;
    line-height: 1.4;
}
.section5-h h3 {
    color: #fff !important;
    font-weight: 500;
    font-size: 1.5em !important;
}
.section5 img{
	width: 50px;
}
.sec5{
    padding-bottom: 0px !important;
}
.diagonal-line{
    padding-top: 0px !important;
    background-color: #f6f6f6 !important;
}
.slide-txt{
    font-size: 1.67em !important;
}
.trium-home-menu .navbar {
    position: absolute !important;
    right: 45%;
    top: 15px;
    width: 100%;
}
.trium-home-menu .navbar-light .navbar-toggler{
    border-color: none !important;
    border: none !important;
    font-size: 4.25rem !important;
    padding: 0px !important;
    color: #000 !important;
    width: 100%;
}
.trium-home-menu button{
    text-align: right !important;
}
.trium-home-menu .collapse.in {
    display: inline-block !important;
    width: 100%;
}
.trium-home-menu .mr-auto{
    display: inline-block !important;
    width: 100%;
    text-align: center;
}
.trium-home-menu .mr-auto .nav-item{
    width: 25%;
    color: #000 !important;
}
.trium-home-menu .mr-auto .nav-item a{
    color: #000 !important;
    font-size: 1.6em;

}
.trium-home-menu .mr-auto .active a span{
    border-bottom: 4px solid #00e7cb;
    padding-bottom: 5px !important;
}
.trium-home-menu .mr-auto .active div p{
    display: none;
}



/*******carousel*****/
.carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/
.carousel.vertical .carousel-inner > .carousel-item {
  width: auto;
  transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .carousel-item {
    transition: 0.6s ease-in-out;
  }

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 0%, 0); -webkit-transform: translate3d(0, 0%, 0); -ms-transform: translate3d(0, 0%, 0); -moz-transform: translate3d(0, 0%, 0); -o-transform: translate3d(0, 0%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,0%, 0); -webkit-transform: translate3d(0,0%, 0);  -moz-transform: translate3d(0,0%, 0);-ms-transform: translate3d(0,0%, 0); -o-transform: translate3d(0,0%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}
/*.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .carousel-item-next {
   top: 100%;
}

.carousel.vertical .carousel-item-prev {
   top: -100%;
}

.carousel.vertical .carousel-item-next.carousel-item-left,
.carousel.vertical .carousel-item-prev.carousel-item-right {
   top: 0;
}

.carousel.vertical .active.carousel-item-left {
   top: -100%;
}

.carousel.vertical .active.carousel-item-right {
   top: 100%;
}

.carousel.vertical .carousel-item {
  left: 0;
}*/


/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-vertical .carousel-indicators{
    position:absolute;
     top: 59px;
    bottom: 122px !important;
    margin: auto;
    height: 20px;
    right: 1240px !important;
    left: 0 !important;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-vertical .carousel-indicators li {
    width: 13px !important;
    height: 13px !important;
    border-radius: 50%;
    background-color: rgb(140,140,140) !important;
    border: none !important;
    margin-bottom:10px !important; 
    margin-left: 15px !important;
}

.carousel-vertical .carousel-indicators li.active{
   background:#fff !important;
    
}
.slide-background{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.caption-container{
    padding-right: 590px !important;
    padding-top: 92px;
}
.carousel-inner .fill{
    background-position: 50% 50% !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 450px;
}

/*********capital******/
.capital-banner-container{
    padding: 50px 0px 20px 0px !important;
}
.capital-banner-container-text{
    margin-top: 44px;
}
.img-pad{
    padding: 0px !important;
}
.section-text-pad1{
    padding-left: 100px !important;
    padding-top: 0px;
}
.section-text-pad{
    padding-right: 86px !important;
    padding-left: 206px !important;
}
.section-title{
    font-weight: 700 !important;
    margin-bottom: 1.6rem !important;
}
.info-title{
    font-size: 3em !important
}
.section-body{
    line-height: 1.2 !important;
    font-weight: 550 !important;
    font-style: normal !important; 
}
.abt-capital{
    justify-content: left !important;
    padding-top: 45px;
}
.abt-capital-container{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}


/***********consulting***************/
.btn-align{
    text-align: left !important;
}
.consult-banner-container{
    padding-bottom: 0px !important;
}
.consult-banner-text{
    text-align: left !important;
}
.text-black{
    color: #000 !important;
}
.main-title-container{
    padding-bottom: 0px !important;
}
.main-title-div{
    margin-bottom: 47px;
    margin-top: 32px;
}
.no-img-pad{
    padding-right: 0px !important;
    padding-left: 4em;
}
.section-body2{
    font-weight: 550 !important;
    font-style: normal !important; 
    font-size: 1.3rem !important;
}


/***********apply page***********/
.form-container{
    background-color: #f8f8f8 !important;
    padding: 80px 0px 60px 0px !important;
}
.form-style .form-control {
    background-color: #f8f8f8 !important;
    border: none !important;
    border-bottom: 1px solid #e2e2e2 !important;
    border-radius: 0 !important
}
.btn-container{
    margin-top: 25px !important;
}
.btn-container .form-btn{
    background-color: transparent !important;
    border:2px solid #4f4e52 !important;
    color: #535040 !important;
    padding: 1rem 2rem !important;
    font-weight: 550;
    font-size: .7em !important;
}
.form-banner-container{
    padding: 0px !important;
}

/**********contact***************/
.contact-banner-container{
    padding: 0px !important;
}
.form-container2{
    background-color: #fff !important;
    padding: 80px 0px 60px 0px !important;
}
.form-style2 .form-control {
    background-color: #fff !important;
    border: 1px solid #e2e2e2 !important;
    border-radius: 0 !important;
    margin-bottom: 15px;
    padding: 0em .5em !important;
    min-height: 2em !important;
    font-size: 1.2rem !important;
}
.contact-banner-text{
    margin-top: 110px !important;
}
.contact-info{
    background-color: #f9f9f9;
    height: 250px;
}
.contact-info-container{
    margin-top: 20px;
}
.info-body-text{
    padding-top: 43px;
}
.info-text-style{
    font-weight: normal !important;
    font-size: 1rem !important;
}
.icon-text-style{
    font-weight: normal !important;
    font-size: .8rem !important;
}
.info-body-text img{
    padding-bottom: 15px;
}
.google-map{
    text-align: right;
    padding-right: 15px;
}
.partner-container{
    background-color: #f9f9f9;
}
.partner-title{
    text-align: left !important;
    color: #0b3954;
    padding-top: 60px;
    z-index: 1;
}
.img-block2{
    margin-top: 90px; 
}
.img-block1{
    margin-top: 71px; 
}
.btn-container .form-btn:hover, .btn-container .form-btn:focus{
    background-color: #000 !important;
    color: #fff !important;
    border-color: #fff !important;
}
.partner-design{
    position: absolute;
    bottom: 136px;
   
}
.partner-img-container{
    z-index: 1;
}


/***********Apply*************/
#img-upload {
    height: 150px;
    width: 100%;
}
.passport{
    width: 100%;
    height: auto;
    border: 2px solid #d1d7e1;
    border-style: dashed;
    color: #d1d7e1;
    margin-top: 169px;
}

.mbri-plus input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    display: block;
    cursor: pointer;
}

.passport .mbri-plus {
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    top: 60px;
    z-index: 6;
}
.pic-container{
    margin-left: 113px;
}
.upload-text{
    font-weight: normal; 
    font-size: 0.7em;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 20px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*********team page*********/
.team-text-container{
    padding: 0px !important;
}
.team-text{
    padding-top: 90px;
}
.team-text h3{
    font-weight: 550;
    text-align: center !important;
}
.team-btn{
    text-align: center !important;
}
.team-btn .btn{
   background-color: #fff !important;
   border-radius: 14px !important;
   color: #000 !important;
}
.banner-title{
    margin-bottom: 0px !important;
}

/************portfolio page********/
.portfolio-container{
    padding-top: 34px !important;
}
.gallery-container{
    padding: 0px !important;
    background-color: #051c29;
    min-height: 399px;
}
.gallery-div{
    background-color: red;
}
.gallery-row-container{
    min-height: 400px;
}
.border-right{
    border-right: 1px solid #fff;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}
.team-img-container{   
    width: 100%;
    text-align: center;
    padding-top: 25%;
}
.team-background{
    background-color: #051c29;
    min-height: 400px;
    border-right: 1px solid #f9f9f9;
}
.col-lg-4.col-xs-6.team-background:hover, .col-lg-4.col-xs-6.team-background:focus {
    background-color: #0c4362;
    cursor: pointer;
}
.modal-header{
    border-bottom: none !important;
    z-index: 1;
}
.team-modal-container{
    margin-top: 64px !important;
}
.team-modal-content{
    background-color: rgba(255, 255, 255, 0.83) !important;
    border: none !important; 
    border-radius: 0px !important;
    min-height: 818px; 
}
.team-modal-content button {
    text-shadow: none !important; 
    opacity: 1 !important;
    border: 2px solid #000 !important;
    border-radius: 100%;
    margin-top: 37px !important;
    margin-right: 61px !important;
}

.mbri-close{
    font-size: 40px;
    font-weight: 700 !important;
}
.modal-body-text{
    font-size: 22px;
}
.modal-body{
    padding-left: 90px !important;
}
.modal-body p{
    font-weight: 500 !important;
}
.modal-body-pad{
    margin-bottom: 75px;
}
.founder-name h5{
    font-weight: 700 !important;
}
.website-name h5{
    font-weight: 700 !important;
}

/**********team page***************/
.team-modal-container2{
    margin-top: 208px !important;
}
.team-modal-container2 .team-modal-content{
    background-color: rgba(255, 255, 255, 0.83) !important;
    border: none !important; 
    border-radius: 0px !important;
    min-height: 655px; 
}
.img-pointer{
    cursor: pointer;
}
.team-modal-body{
    padding-left: 90px !important;
    margin-top: -145px;
    padding-bottom: 0px !important;
}
.modal-body-div{
    margin-left: 89px;
    margin-top: 215px;
}

/*******thinking page*******/
.blog-img{
    height: auto !important;
    min-height: 222px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.blog-img .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog-img .layer:nth-child(1n) {
    background-color: rgba(48, 73, 199, 0.52);
}

.blog-img .layer:nth-child(2n) {
    background-color: rgba(65, 199, 48, 0.52);
}

.blog-img .layer:nth-child(3n) {
    background-color: rgba(48, 187, 199,  0.52);
}

.blog-img .layer:nth-child(4n) {
    background-color: rgba(234, 210, 78,  0.52);
}

.blog-img .layer:nth-child(5n) {
    background-color: rgba(234, 148, 78, 0.52);
}

.blog-img .layer:nth-child(6n) {
    background-color: rgba(195, 78, 234, 0.52);
}

.blog-img .layer:nth-child(7n) {
    background-color: rgba(89, 89, 182,  0.52);
}

.blog-img .layer:nth-child(8n) {
    background-color: rgba(40, 232, 194,  0.52);
}

.layer1{
    background-color: rgba(48, 73, 199, 0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer2{
    background-color: rgba(65, 199, 48, 0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer3{
    background-color: rgba(48, 187, 199,  0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer4{
    background-color: rgba(234, 210, 78,  0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer5{
    background-color: rgba(234, 148, 78, 0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer6{
    background-color: rgba(195, 78, 234, 0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer7{
    background-color: rgba(89, 89, 182,  0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer8{
    background-color: rgba(40, 232, 194,  0.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.thinking-gallery-title{
    padding-left: 163px;
}
#more{
    width: 100%;
}
.gallery-height{
    height: 100% !important;
    min-height: 260px;
}
.section_principal{
    height: auto !important;
}
.card-footer {
    padding: 5.2rem 0rem 5.2rem 3em !important;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    background-color: transparent !important;
}
.card-header{
    color: #fff;
    text-transform: capitalize;
}
.card-pad-top{
    padding-top: .99rem !important;
    padding-bottom: 0px !important;
    padding-left: 3em !important;
}
.card-pad-bottom{
    padding-top: 4em !important;
}
.blog-main-container{
    background-color: #fff;
    margin-bottom: 60px;
}
.blog-body-text p{
    font-weight: normal;
}
.blog-body-text span{
    font-weight: bold;
}
.blog-container-text {
    margin-top: 45px !important;
}
.blog-body-text img{
    margin-bottom: 30px;
}
.blog-body-text .blog-border-left{
    border-left: 2px solid #f3f3f3;
    padding-left: 20px;
}

/*****thinking blog*****/
.blog-side-bar{
    background-color: #f7f7f7;
    height: auto !imporatant;
    padding-top: 62px;
    padding-bottom: 70px;
    margin-top: 120px;
    padding-left: 55px;
}
.blog-btn-container{
    justify-content: left;
    margin-top: 35px;
     margin-bottom: 35px;
     font-family: 'Montserrat', sans-serif;
}
.blog-btn-container a{
    text-transform: uppercase;
    padding: 1rem 1.2rem!important;
    font-weight: 700;
}
.blog-body-text h4{
    font-weight: 700 !important;
    margin-bottom: 30px;
}
.blog-text-border .btn-blog{
    background-color: #515ef3;
    border: none !important;
    padding: .7em 1.2em !important;
    color: #fff;
    text-transform: uppercase;
}
.blog-text-border{
    padding-left: 1em !important;
}
.blog-img-subtitle{
    font-weight: 700;
    font-size: 1em;
    margin-top: 15px;
}
.blog-search{
    border: none !important;
    background-color: transparent;
    font-size: .8em !important;
}
.blog-form-control{
    min-height: 0em !important; 
    padding: 0px !important; 
    color: #000 !important;     
    border: none !important;
    border-bottom: 1px solid #c4c4c4 !important;
    border-radius: 0px !important;
    margin-left: -8px;
    margin-bottom: 45px;
}
.blog-banner-text{
    margin-top: 110px !important;
    font-weight: 700;
}
.sidebar-btn a{
    padding: .5em !important;
}
.sidebar-btn-container{
    margin-bottom: 45px;
    justify-content: left;
}
.blog-categories p a{
    text-decoration: none;
    color: #000;
}
.blog-categories{
    margin-bottom: 60px;
}
.blog-comment p{
    margin-bottom: 0px !important;
}
.blog-comment-title{
    font-weight: bold;
}
.blog-comment-title2{
    font-weight: bold;
    margin-top: 20px;
}
.blog-date{
    color: #d8d8d8;
    font-weight: 500;
}
.blog-search-icon{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 30px !important;
    font-weight: 700;
}

/****footer****/
#footer5-7 .col-md-9, #footer5-7 .col-md-3{
	margin-right: 0px !important;
}
#footer5-7 .foot-sec p{
	font-size: 0.9em !important;
}
.social-list .soc-item a{
	float: left;
	border-radius: 100%;
    height: 22px;
    background-color: #fff;
    width: 22px;
    color: #000;
    padding-left: 7px;
    padding-top: 5px;
    margin-left: 10px;
}
.foot-sec .mbr-iconfont-social{
    margin-left: -3px;
    font-size: 12px;
    position: absolute;
    top: 4px;
}
#footer5-7 {
    padding-top: 20px !important;
    background-color: #000 !important;
}
.copyright .cright{
	font-size: 0.7em !important;
}
.footer-container{
    padding: 0px 150px;
}
.foot-sec p a{
    text-transform: capitalize !important;
}

@media (max-width: 1366px){
    .section-title h1{
        font-size: 3em !important;
    }
    .team-img-container {
        padding-top: 34% !important;
    }
    .team-modal-container2 {
        margin-top: 299px !important;
    }
    .team-modal-container2 .team-modal-content{
        min-height: 472px !important;
    }
    .modal-body-div {
        margin-top: 173px !important;
    }
    
    /* .item-container .carousel-caption{
        right: 30% !important;
    } */
}

@media (max-width: 1280px){
    .carousel-vertical .carousel-indicators{
        right: 1168px !important;
    }
    .section-text-pad1 {
        padding-left: 50px !important;
    }
    .team-img-container {
        padding-top: 40% !important;
    }
    
}

@media (max-width: 1200px){
    .caption-container {
        padding-right: 319px !important;
        margin-left: 73px !important;
    }
    .carousel-vertical .carousel-indicators {
        right: 1069px !important;
    }
    .team-img-container {
        padding-top: 43% !important;
    }
    .item-container .carousel-caption h3 a {
      font-size: 10rem !important;
    }

    
}

@media (max-width: 1024px){
    .footer-container {
        padding: 0px 0px !important;
    }
    .carousel-vertical .carousel-indicators {
        right: 896px !important;
    }
    .section-text-pad1 {
        padding-left: 0px !important;
    }
    .team-img-container {
        padding-top: 49% !important;
    }
    .modal-body-div {
        margin-top: 109px !important;
    }
    .item-container .carousel-caption h3 a {
      font-size: 8rem !important;
    }

}
@media (max-width: 800px){
    .img-block2{
        margin-top: 0px !important;
    }
    .caption-container {
        padding-right: 162px !important;
    }
    .carousel-vertical .carousel-indicators {
        right: 665px !important;
    }
    .team-img-container {
        padding-top: 20% !important;
    }
    .cid-r0Ytablk5B button.trium-navbar-toggler{
            top: 1.7rem !important;
    }
    .modal-body-div {
        margin-left: 0px !important;
        margin-top: 80px !important;
    }
    .team-modal-body {
        margin-top: 0px !important;
    }
    .item-container .carousel-caption h3 a {
      font-size: 7rem !important;
    }
    .indicator-pad{
          font-size: 24px !important;
    }

}

@media (max-width: 769px){
    .text-black {
        font-size: 1em !important;
        }      
        .section-text-pad1 {
            padding-left: 30px !important;        
        }
        .no-img-pad {
            padding-left: 0em !important;
            margin-bottom: 32px !important;
        }
        .main-title-div{
            margin-top: 0px !important; 
        }
        .soc-item{
            text-align: left !important;
        }
        #footer5-7 .foot-sec p{
            text-align: left !important;
        }
        .footer-lower .copyright{
            text-align: left !important;
            margin-top: 10px !important;
        }
        .foot-sec .col-md-4{
            padding: 0px !important;
        }
        .sec5{
            padding-top: 39px !important;
        }
        .google-map{
            text-align: left !important;
            margin-top: 15px !important;
        }
        .item-container .carousel-caption h3 a {
          font-size: 6rem !important;
        }
        .item-container .carousel-caption p{
          font-size: 24px !important;
        }
}

@media (max-width: 603px){
    .carousel-vertical .carousel-indicators {
        right: 475px !important;
        top: -81px !important;
    }
    .caption-container {
        padding-right: 55px !important;
    }
    .section-text-pad1-container{
        min-height: 350px !important;
        padding-top: 77px !important;
    }
    .abt-capital-container{
        padding-top: 23px !important;

    }
    .team-img-container {
        padding-top: 24% !important;
    }
    .team-modal-container2 .team-modal-content button{
        margin-right: 0px !important;
    }
    .team-modal-container .team-modal-content button{
        margin-right: 0px !important;
    }
    .menu-div .mylink {
        font-size: 20px !important;
    }
    .item-container .carousel-caption p{
      font-size: 22px !important;
    }
    .item-container .carousel-caption h3 a {
          font-size: 4.5rem !important;
        }
    .carousel-indicators .active{
        width: auto !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .indicator-pad{
          font-size: 18px !important;
    }
    .overlay {
      position: sticky !important;
      background-color: #f6f6f6 !important;
      z-index: 990 !important;
      margin-top: -34px !important;
      }
      .trium-home-menu .navbar {
        position: sticky!important;
        top: 40px !important;
        margin-left: -244px !important;
        z-index: 999 !important;
      }

}

@media (max-width: 567px){
    .contact-info{
        margin-bottom: 15px !important;
    }
    .carousel-vertical .carousel-indicators {
        right: 429px !important;
    }
    .caption-container {
        padding-right: 115px !important;
    }
    .team-img-container {
        padding-top: 28% !important;
    }
    .carousel-indicators{
      top: -284px !important;
    }
    .item-container .carousel-caption p {
        font-size: 18px !important;
    }

}

@media (max-width: 480px){
    .partner-design {
        left: -38px !important;
    }
    .carousel-vertical .carousel-indicators {
        right: 332px !important;
    }
    .section5 h3{
       font-size: 1.3em !important; 
    }
    .section5 h2{
       font-size: 1.7em !important; 
    }
    .team-img-container {
        padding-top: 32% !important;
    }
    .mbri-close {
        font-size: 30px !important;
    }
    .modal-body-div {
        margin-top: 54px !important;
    }
    #info3-i h3{
        font-size: 1.2rem !important;
    }
    #info3-i .info-title {
        font-size: 2em !important;
    }
    .trium-home-menu .navbar {
      margin-left: -200px !important;
    }
    .item-container .carousel-caption h3 a {
        font-size: 3.5rem !important;
    }
    
}


@media (max-width: 425px){
    .partner-design {
        left: -68px !important;
    }
    .section5 h3{
       font-size: 1.2em !important; 
    }
    .section5 h2{
       font-size: 1.5em !important; 
    }
    .caption-container h2{
        font-size: 1.5em !important;
    }
    .caption-container h3{
        font-size: 1em !important;
    }
    .carousel-vertical .carousel-indicators {
        right: 239px !important;
    }
    .section-text-pad1-container {
        padding-top: 35px !important;
    }
    .team-img-container {
        padding-top: 37% !important;
    }
    .modal-body {
        padding-left: 10px !important;
    }
    .menu-div .mylink {
        font-size: 18px !important;
    }


}
@media (max-width: 414px){
    .menu-div .mylink {
        font-size: 15px !important;
    }
    .item-container .carousel-caption h3 a {
        font-size: 3rem !important;
    }
    .item-container .carousel-caption p {
        font-size: 14px !important;
    }
    .trium-home-menu .navbar {
        margin-left: -169px !important;
    }
    .carousel-indicators {
        top: -312px !important;
    }
    .indicator-pad {
        font-size: 13px !important;
        min-height: 91px !important;
        padding-top: 40px !important;
    }
    .carousel-container {
        min-height: 610px !important;
    }



}
@media (max-width: 412px){
    .carousel-indicators {
        top: -359px !important;
    }
}

@media (max-width: 384px){
    .carousel-indicators {
        top: -409px !important;
    }
}

@media (max-width: 375px){
    .team-img-container {
        padding-top: 43% !important;
    }
    .carousel-indicators {
        top: -383px !important;
    }


}
@media (max-width: 360px){
    .carousel-indicators {
        top: -410px !important;
    }
    .item-container .carousel-caption h3 a {
        font-size: 2.5rem !important;
    }
}



@media (max-width: 320px){
    .partner-design {
        left: -105px !important;
    }
    .carousel-vertical .carousel-indicators {
        right: 205px !important;
        top: -132px !important;
    }
    .caption-container h2 {
        font-size: 1.4em !important;
    }
    .team-img-container{
        padding-top: 53% !important;
    }
    .modal-body-pad img{
        width: 231px !important;
    }
    .trium-home-menu .navbar {
        margin-left: -148px !important;
    }
    .item-container .carousel-caption h3 a {
        font-size: 2rem !important;
    }
    .item-container .carousel-caption p {
        font-size: 12px !important;
    }
    .carousel-indicators {
        top: -457px !important;
    }
    .indicator-pad {
        padding-top: 27px !important;
    }

}

