@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:100,300,400,400i,600,600i,700,700i,900);

body {
  padding: 0;
  margin: 0;
  background-color: #111;
  font-family: 'Titillium Web', 'sans-serif' !important;
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif !important;
}
.display-5, p.display-7, p.display-4, p.display-3, p.display-2, p.display-6, p.display-1{
  font-family: 'Titillium Web', 'sans-serif' !important;
}
.component-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 4.25rem;
}
header.white-background[_ngcontent-c0] {
  /* background-color: #111 !important; */
}

/******* Animstion stripes ********/
/******* Animstion stripes ********/

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(46px);
  }
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(460px);
  }
}

.bg-animated {
  height: 100vh;
  position: absolute;
  left: -460px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;

  background: -webkit-repeating-linear-gradient(145deg,
    rgb(24, 23, 23) 20px,
    rgb(43, 42, 42) 25px,
    rgb(43, 42, 42) 220px,
    rgb(24, 23, 23) 140px,
    rgb(24, 23, 23) 400px);
  background: repeating-linear-gradient(-55deg,
    rgb(24, 23, 23) 20px,
    rgb(43, 42, 42) 25px,
    rgb(43, 42, 42) 220px,
    rgb(24, 23, 23) 140px,
    rgb(24, 23, 23) 400px);

  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 2.9s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-name: MOVE-BG;
  animation-duration: 2.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/******* Animstion stripes ********/
/******* Animstion stripes ********/

header {
  width: 100%;
  padding: 15px 5%;
  position: absolute;
  z-index: 4;
  transition: background-color .5s ease;
}

header .logo {
  float: left;
}

header .logo img {
  height: 30px;
  transition: height .5s ease;
}

/* header .logo img.set-logo-inverse {
  display: none;
} */

header .toggle .hamburger-close {
  display: none;
}

header .toggle {
  float: right;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 30px;
  transition: top 0.2s;
}



/* header.inverse .hamburger span,
header.inverse .hamburger span::before,
header.inverse .hamburger span::after {
  background-color: #000;
}

header.inverse .logo img.set-logo-inverse {
  display: block;
}

header.inverse .logo img.set-logo {
  display: none;
} */

header .hamburger,
header .hamburger-close {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  border: none;
}

header .hamburger {
  width: 35px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

header .hamburger span {
  content: '';
  width: 35px;
  height: 4px;
  display: block;
  background-color: #000;
  padding: 0;
  position: relative;
  top: -8px;
  -webkit-transition: width 0.2s;
  -webkit-transition-timing-function: linear;
  transition: width 0.2s;
  transition-timing-function: linear;
}

header .hamburger span::before {
  width: 35px;
  display: block;
  height: 4px;
  background-color: #000;
  content: '';
  position: relative;
  top: 8px;
}

header .hamburger span::after {
  width: 35px;
  display: block;
  height: 4px;
  background-color: #000;
  content: '';
  position: relative;
  top: 12px;
}

header .set-logo-inverse {
  display: none;
}

header.is-scrolled {
  background-color: #111;
  color: #fff;
}

header.is-scrolled .hamburger span,
header.is-scrolled .hamburger span::before,
header.is-scrolled .hamburger span::after {
  background-color: #fff;
}

header.is-scrolled .set-logo {
  display: none;
}

header.is-scrolled .set-logo-inverse {
  display: block;
}


header .hamburger-close {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* background-color: #fff; */
  padding: 0.6rem;
}

.hamburger-close:hover {
  background: #f1f1f1;
}

.hamburger-close span {
  background-color: #000;
  width: 10px;
  height: 1px;
  -webkit-transform: translate3d(0, -50%, 0) rotate(405deg);
  transform: translate3d(0, -50%, 0) rotate(405deg);
  display: block;
}

.hamburger-close span::after {
  background-color: #000;
  width: 10px;
  height: 1px;
  -webkit-transform: translate3d(0, 0, 0) rotate(405deg);
  transform: translate3d(0, 0, 0) rotate(450deg);
  display: block;
  content: '';
}






nav.main {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  width: 70%;
}

nav.main [class*="col-"] {
  text-align: center;
  margin-bottom: 3rem;
}

nav.main a {
  display: inline-block;
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

nav.main a span {
  position: absolute;
  content: '';
  left: 0;
  top: auto;
  bottom: -2px;
  width: 0;
  height: 4px;
  background-color: #c0985f;

  /* -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%; */

  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  /* transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -ms-transition-timing-function: linear; */
}

nav.main a.active span {
  width: 100%;
}

/* nav.main a.active.inactive span {
  width: 0;
} */


nav.main a:hover span {
    width: 100%;
}

.section-title-gold{
  color: #c0985f;
}


@media (max-width: 768px) {
  nav.main {
    top: 14%;
  }

  nav.main [class*=col-] {
    margin-bottom: 1.8rem;
  }
}





.td-page {
  background-color: #fff;
  position: relative;
  z-index: 4;
  vertical-align: top;
  width: 100%;
  height: 100vh;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}


.t-pages {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;
  backface-visibility: hidden;
}

.t-pages::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

body.pages-down-command-R {
  overflow: hidden;
  left: 0;
  width: 100vw;
  height: 100vh;
}

body.pages-down-command-R .page-content-inner {
  display: none;
}

body.pages-down-command-R .is-parallax {
  /* min-height: auto; */
  background-attachment: inherit;
}

body.pages-down-command-R .t-pages {
  height: 100%;
  display: table;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform-origin: 50% 50% 0px;
}


body.pages-down-command-R .t-pages.animate-transform {
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

body.pages-down-command-R .t-pages.animate-left {
  -webkit-transition: left 1s;
  transition: left 1s;
}


.td-page:not(.is-active) {
  display: none;
}

body.pages-down-command-R .td-page:not(.is-active),
body.pages-down-command-R .td-page {
  display: table-cell;
}

body.pages-down-command-R .td-page.is-active,
body.pages-down-command-R .td-page:not(.is-active) {
  -webkit-transition: transform 0.5s;
  -webkit-transition-timing-function: ease;
  transition: transform 0.5s;
  transition-timing-function: ease;
}

body.pages-down-command-R .td-page:not(.is-active) {
  transform: matrix(0.8, 0, 0, 0.8, 0, 0);
}

body.pages-down-command-R header .logo img.set-logo-inverse {
  display: inline;
}

body.pages-down-command-R header .toggle .hamburger-close {
  display: inline;
}

body.pages-down-command-R header .logo img.set-logo {
  display: none;
}

body.pages-down-command-R header .toggle .hamburger {
  display: none;
}

/*.o-pages__page:not([data-page="0"])::after*/

.page-content{
  background-color: #fff;
}

@media (min-width: 320px) and (max-width: 968px) {
  /* nav.main {
    top: 14%;
  }

  nav.main [class*=col-] {
    margin-bottom: 1.8rem;
  } */
}
