<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" [viewClass]='viewClass' #scrollbarRef>
  <div class="page-content">

      <div class="team row">
          <div *ngFor="let team of teams" (click)="show_modal(team)" class="col-md-3 col-sm-6">
              <img [src]="site_url+'/public/images/'+team.image" />
              <!-- <img src="{{site_url}}/public/images/{{team.image}}" /> -->
            </div>
      </div>
                
                
    <app-footer></app-footer>
  </div>
</ng-scrollbar>


<div class="team-modal-wrapper">
    <img (click)="hide_modal()" class="close" src="assets/images/close.png" />
<div class="team-modal row">
<div class="col-lg-6 col-sm-12 full-image" 
[style.background-image]="'url(' + site_url + '/public/images/' + team_details?.image + ')'"></div>
<div class="col-lg-6 col-sm-12 bio">
  <div class="bio-content">
  <h2>{{team_details?.name}}</h2>
  <h6>{{team_details?.position}}</h6>

  <section>
      {{team_details?.description}}
  </section>
</div>
</div>
</div>
</div>