<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" >
    <div class="page-content">
            <section class="header1 cid-r1gDGEQuOW mbr-parallax-background" id="header1-1l">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="mbr-white col-md-10">
                                
                                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5s banner-title"><strong><br></strong><br><strong>We support the entrepreneurs that are shaping Africa’s future</strong></h3>
                                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                                    We power bold innovative technologies that scale globally<br>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                
            </section>

            <section >
                    <!-- Filter --><!-- Gallery -->
                    <div class="mbr-gallery-row">
                      <div class="mbr-gallery-layout-default">
                        <div class="col-md-12">
                          <div class="row">
            
                            <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
            
                              <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
            
                              <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
            
                              <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
            
                              <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
            
                              <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
            
                              <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-3 col-xs-6"> 
                              <div class="row">
                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                        <img src="assets/images/team-img.jpg" class="img-fluid" alt="" title="">
                                    </div>
                                  </div>
                                </div>
                              </div>
            
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
            
                    <!-- Lightbox modal starts here-->
                    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="col-md-12 modal-dialog modal-lg team-modal-container2">
                          <div class="row">
                            <div class="modal-content team-modal-content">
                                <div class="modal-header">                        
                                    <button type="button" class="close" data-dismiss="modal"><span class="mbri-close"></span><span class="sr-only">Close</span>
                                    </button>
                                </div>
                                <div class="modal-body team-modal-body">
                                  <div class="col-md-12">
                                      <div class="row">
                                          <div class="col-lg-5 col-sm-12"> 
                                              <div class="row">
                                                  <div class="mbr-gallery-item mbr-gallery-item--p0 " data-video-url="false" data-tags="Awesome">
                                                    <div href="#" data-toggle="modal" data-target="#image-gallery" class="img-pointer">
                                                        <img src="assets/images/team-img-modal.jpg" class="img-fluid" alt="" title="">
                                                    </div>
                                                  </div>
                                                </div>
                                          </div>
                                          <div class="col-lg-5 col-sm-12">
                                            <div class="row">
                                              <div class="modal-body-div">
                                                <p class="modal-body-text">Our mission is to bring success to our clients by making payments and transactions easier, faster and more accessible to both businesses and individuals.</p>
                                              </div>
                                            </div>
                                          </div> 
            
                                      </div>
                                  </div>                      
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal ends here-->               
            
            </section>
                
                <section class="mbr-section content5 cid-r0YEKvexnZ mbr-parallax-background sec5 diagonal-line" id="content5-4">
                        <div class="team-body-container">
                                <!-- <div class="stripe-3"></div> -->
                        <div class="container">
                                <div class="row justify-content-center">
                                        <div class="media-container-column title col-12 col-md-10 team-text">                
                                            <h3 class="mbr-section-subtitle align-left mbr-light mbr-white pb-3 mbr-fonts-style display-5">Diagonal lines in this section will be 
                                            animated - sliding from left to right</h3>
                                            
                                            <div class="mbr-section-btn align-center py-4 team-btn"><a class="btn btn-black display-4" href="https://mobirise.com">Read More</a></div>
                                        </div>
                                    </div>
                        </div>
                        </div>
                </section>
                
                <section class="cid-r0YIEqAHKQ" id="footer5-7">
                    <div class="footer-container">
                        <div class="media-container-row foot-sec">
                            <div class="col-md-8">
                                <p class="mbr-text align-left links mbr-fonts-style display-7">
                                        <a href="#" class="text-white">home</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">thinking</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">team</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">portfolio</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">careers</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" class="text-white">apply</a>
                                    </p>
                            </div>
                            <div class="col-md-4">
                                <div class="social-list align-left">
                                        <div class="soc-item">
                                            <a href="#" target="_blank">
                                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>
                                        <div class="soc-item">
                                            <a href="#" target="_blank">
                                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>                        
                                        
                                        <div class="soc-item">
                                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                                <span class="socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div>
                                        <div class="soc-item">
                                            <a href="https://instagram.com/mobirise" target="_blank">
                                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                            </a>
                                        </div> 
                                    </div>
                            </div>
                        </div>
                        <div class="footer-lower">
                            <div class="media-container-row mbr-white">
                                <div class="col-md-12 copyright">
                                    <p class="mbr-text mbr-fonts-style display-4 cright">Copyright 2018. All Rights Reserved
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </section>
                
                
            
                
    </div>
    </ng-scrollbar>