.team {
    padding-top: 60px;
}

.team.row{
    margin-right: 0;
    margin-left: 0;
}

  .team [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    background-color: #ccc;
    cursor: pointer;
  }

  .team img{
    max-width: 100%;
    height: auto;
  }



  .team-modal-wrapper{
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    background-color:  rgb(255, 255, 255);
    top: 60px;
    z-index: 3;
    display: none;
}

.team-modal{
    color: #696969;
    font-size: 1.1rem;
}

.team-modal .full-image{
    background-position: center center;
    overflow: hidden;
    position: relative;
    width: 55%;
    height: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.team-modal .bio{
    height: 100vh;
}

.bio .bio-content{
    padding: 50px;
}

.team-modal section{
    background-color: transparent;
    margin-top: 3rem;
    line-height: 1.8;
    text-align: justify;
}

.team-modal h6{
    color: #C0985F;
}


.team-modal-wrapper img.close{
    position: absolute;
    width: 45px;
    right: 50px;
    top: 30px;
    cursor: pointer;
    z-index: 1;
}