.slider-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.slider-content {
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.slider-content ul {
  color: #130932;
  padding: 0 3rem;
  margin: 0;
}

.slider-content ul li {
  list-style: none;
  -webkit-animation: moving .6s;
  animation: moving .6s;
  transform-origin: 0 0;
  text-overflow: clip;
}

.slider-nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.10);
  color: #fff;
}

.slider-nav ul {
  padding: 0 !important;
  margin: 0 !important;
}

.slider-nav li {
  display: inline-block;
  width: 25%;
  height: 100px;
  list-style: none;
  position: relative;
}

.slider-nav li a {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: left;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
  transition: background-color 0.3s ease;
  border-right: solid 1px #e6e6e6;
  padding-left: 1rem;
}

.slider-nav li:last-child {
  border-right: none;
}

.slider-nav li.active>span {
  z-index: 2;
  position: absolute;
  width: 0%;
  height: 0.2rem;
  left: 0;
  bottom: 0px;
  background-color: #00e7cb;
  background: linear-gradient(to right, #e8bc7c 8%, #9c833b 57%, #4c3617 99%);
}

.slider-nav li.active>a {
  color: #C0985F;
}

.carousel {
  width: 70%;
  padding: 0 3rem;
  color: #130932;
  outline: none;
}

.carousel-caption {
  position: relative;
  right: 0;
  /*  z-index: 0; */
  padding-top: 0;
  padding-bottom: 0;
  color: inherit;
  text-align: center;
}

.carousel h3 {
  -webkit-animation: moving .6s;
  animation: moving .6s;
  transform-origin: 0 0;
  text-overflow: clip;
}

.carousel h3 a {
  letter-spacing: .005rem;
  font-size: 4.7rem;
  font-weight: 600;
  color: #000;
}
.carousel h3 a:hover, .carousel h3 a:focus{
    color: #c0985f;
}

.carousel h6 {
  color: #00f;
  animation: fadein .9s !important;
  -moz-animation: fadein .9s !important;
  /* Firefox */
  -webkit-animation: fadein .9s !important;
  /* Safari and Chrome */
  -o-animation: fadein .9s !important;
  /* Opera */
}

.carousel p {
  animation: fadein .6s !important;
  -moz-animation: fadein .6s !important;
  /* Firefox */
  -webkit-animation: fadein .6s !important;
  /* Safari and Chrome */
  -o-animation: fadein .6s !important;
  /* Opera */

  font-size: 2.14em;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 200;
  color: #aaa
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 968px) {
  .carousel[_ngcontent-c1] {
    width: 80%;
    padding: 0;
  }

  .carousel h3 a {
    font-size: 3.2rem;
  }

  .carousel p {
    font-size: 1.14rem;
  }

  .slider-nav li a {
    justify-content: center;
    padding-left: 0rem;
    font-size: .9rem;
  }

  .slider-content {
    height: calc(100vh - 70px);
  }

  .slider-nav li {
    height: 70px;
  }

}
