<particles [params]="pjs_params2" [style]="pjs_style2" [width]="pjs_width2" [height]="pjs_height2"></particles>
<div class="slider-container">
  <div class="slider-content">
    <ngb-carousel *ngIf="slides" #myCarousel="ngbCarousel" (slide)="onslideChange($event)">
      <ng-template ngbSlide *ngFor="let slide_content of slides; index as i" id="i">
        <div class="carousel-content">
          <h3><a [routerLink]="['/capital']">{{slide_content?.name}}</a></h3>
          <p>{{slide_content?.description}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="slider-nav">
    <ul>
      <li class="active"><a (click)="myCarousel.select('0')">Capital</a><span></span></li>
      <li><a (click)="myCarousel.select('1')">Consulting</a><span></span></li>
      <li><a (click)="myCarousel.select('2')">Thinking</a><span></span></li>
      <li><a (click)="myCarousel.select('3')">Company</a><span></span></li>
    </ul>
  </div>

</div>
