<particles [params]="pjs_params2" [style]="pjs_style2" [width]="pjs_width2" [height]="pjs_height2"></particles>
<div class="slider-container">
  <div class="slider-content">
    <ngb-carousel #myCarousel="ngbCarousel" (slide)="onslideChange($event)">
      <ng-template ngbSlide id="0">
        <div class="carousel-content">
          <!-- <h6>Capital</h6> -->
          <h3><a [routerLink]="['/capital']">Capital</a></h3>
          <p>We help Africa’s most innovative technology startups grow quickly.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="1">
        <div class="carousel-content">
            <!-- <h6>Consulting</h6> -->
          <h3><a [routerLink]="['/consulting']">Consulting</a></h3>
          <p>We support the entrepreneurs that are shaping Africa’s future.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="2">
        <div class="carousel-content">
            <!-- <h6>Thinking</h6> -->
          <h3><a [routerLink]="['/thinking']">Thinking</a></h3>
          <p>Find out some of our most recent ideas and learnings.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="3">
        <div class="carousel-content">
            <!-- <h6>Company</h6> -->
          <h3><a [routerLink]="['/company']">Company</a></h3>
          <p>We are a small company backed by a team that boasts of decades of experience.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="slider-nav">
    <ul>
      <li class="active"><a (click)="myCarousel.select('0')">Capital</a><span></span></li>
      <li><a (click)="myCarousel.select('1')">Consulting</a><span></span></li>
      <li><a (click)="myCarousel.select('2')">Thinking</a><span></span></li>
      <li><a (click)="myCarousel.select('3')">Company</a><span></span></li>
    </ul>
  </div>

</div>
