<particles [params]="pjs_params2" [style]="pjs_style2" [width]="pjs_width2" [height]="pjs_height2"></particles>
<div class="slider-container">
  <div class="slider-content">
    <ngb-carousel #myCarousel="ngbCarousel" (slide)="onslideChange($event)">
      <ng-template ngbSlide id="0">
        <div class="carousel-content">
          <h3><a [routerLink]="[slides[0].link]">{{slides[0]?.name}}</a></h3>
          <p>{{slides[0]?.description}}</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="1">
        <div class="carousel-content">
          <h3><a [routerLink]="[slides[1].link]">{{slides[1]?.name}}</a></h3>
          <p>{{slides[1]?.description}}</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="2">
        <div class="carousel-content">
          <h3><a [routerLink]="[slides[2].link]">{{slides[2]?.name}}</a></h3>
          <p>{{slides[2]?.description}}</p>
        </div>
      </ng-template>
      <ng-template ngbSlide id="3">
        <div class="carousel-content">
          <h3><a [routerLink]="[slides[3].link]">{{slides[3]?.name}}</a></h3>
          <p>{{slides[3]?.description}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="slider-nav">
    <ul>
      <li class="active"><a (click)="myCarousel.select('0')">{{slides[0]?.name}}</a><span></span></li>
      <li><a (click)="myCarousel.select('1')">{{slides[1]?.name}}</a><span></span></li>
      <li><a (click)="myCarousel.select('2')">{{slides[2]?.name}}</a><span></span></li>
      <li><a (click)="myCarousel.select('3')">{{slides[3]?.name}}</a><span></span></li>
    </ul>
  </div>

</div>
