<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" [viewClass]='viewClass' #scrollbarRef>
<div class="page-content">
    <!-- <section class="is-parallax header1 cid-r0YYWWLGiF mbr-parallax-background form-banner-container" id="header1-l">
    </section> -->

    <app-banner *ngIf="page_data?.banner" [banner]="page_data?.banner"
            (scrollEvent)="scrollbarRef.scrollYTo(550, 600).subscribe()"></app-banner>



    <section class="mbr-section form1 cid-qIofBG0ijI form-container" id="form1-l" data-sortbtn="btn-primary">    
        <div class="container"> 
            <!-- Form Contents -->
            <form [formGroup]="apply_form" name="apply_form"
                    (ngSubmit)="applySubmit(apply_form.value)">
            <div class="row">
                <div class="col-md-12 col-lg-7 block-content">
                    <h2 class="align-left mbr-bold pb-3 mbr-fonts-style display-5">Have a project? <br>Let's make something great!</h2>
                    <div data-form-type="formoid">
                            <div class="row form-style">

                                    <div class="col-lg-12 form-group"
                                    data-for="name">
                                    <input type="text"
                                        class="form-control"
                                        placeholder="Name/Business*"
                                        formControlName="name"
                                        required>
                                    <span *ngIf="f.name.errors && (submitted || f.name.touched)">
                                        <small class="text-danger"
                                            *ngIf="f.name.errors.required">Name/Business
                                            is required!</small>
                                    </span>
                                </div>

                                <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control
                                            input" name="email"
                                            formControlName="email"
                                            placeholder="Email Address*"
                                            required>
                                        <span class="text-danger"
                                        *ngIf="f.email.errors && (submitted || f.email.touched)">
                                            <small
                                                *ngIf="f.email.errors.required">Email
                                                Address is required!</small>
                                            <small *ngIf="f.email.errors.email">Email
                                                must be a valid email address!</small>
                                        </span>
                                    </div>

                                    <div class="col-lg-6 form-group">
                                            <input type="text" class="form-control
                                                input" name="phone"
                                                placeholder="Phone Number"
                                                formControlName="phone">
                                            <span class="text-danger"
                                            *ngIf="f.phone.errors && (submitted || f.phone.touched)">
                                                <small
                                                    *ngIf="f.phone.errors.minlength">Phone
                                                    number must be at least 9
                                                    characters!</small>
                                            </span>
                                        </div>

                                        <div class="col-md-12 form-group">
                                                <textarea class="form-control input"
                                                    name="message" rows="4"
                                                    formControlName="message"
                                                    placeholder="Message" ></textarea>
                                            </div>

                                            


                            </div>
                        
                    </div>
                </div>
                <!-- Upload form -->
                <div class="col-md-12 col-lg-5">
                    <div class="passport">                    
                                               
                            <div class="avatar-upload">
                                <div class="mbri-plus">
                                    <p class="upload-text upload-placeholder">upload business pitch</p>
                                    <input type='file' #file_upload id="file_upload"
                                    (change)="validate_upload(file_upload.files)"
                                    formControlName="file_upload"
                                     accept=".png, .jpg, .jpeg, .doc, .docx, .pdf" />
                                    <label for="imageUpload"></label>
                                    
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview">
                                    </div>
                                </div>                            
                            </div>
                    </div>   
                    <span class="text-danger"
                                *ngIf="f.file_upload.errors && (submitted || f.file_upload.touched)">
                                <small *ngIf="f.file_upload.errors.required">Please upload your business pitch</small>
                                                </span>             
                </div>
                <!-- /Upload form -->

                <div class="col-md-12">
                        <div class="form-group">
                                <re-captcha #captchaRef (resolved)="validate_captcha($event)"></re-captcha>
                            </div>   

                            <div class="input-group-btn mb-5 row
                            align-left btn-container form-group">
                            <button type="submit" [disabled]="captcha_valid === false" 
                            class="btn btn-form btn-bgr btn-success display-4
                                form-btn" name="btnSubmit">Apply</button>
                            </div>
                </div>
            </div>
        </form>
            <!-- /Form Contents -->
        </div>
    </section>
    
   
    <app-footer></app-footer>









</div>
</ng-scrollbar>
