<ng-scrollbar (scrollState)="onScrollEvent($event)" style="height: 100vh;" [viewClass]='viewClass'>
<div class="page-content">
    <section class="is-parallax header1 cid-r0YYWWLGiF mbr-parallax-background form-banner-container" id="header1-l">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5"><br><br></h1>
                    
                    
                    
                </div>
            </div>
        </div>
    
    </section>




    <section class="mbr-section form1 cid-qIofBG0ijI form-container" id="form1-l" data-sortbtn="btn-primary">    
        <div class="container"> 
            <!-- Form Contents -->
            <div class="row">
                <div class="col-md-12 col-lg-7 block-content">
                    <h2 class="align-left mbr-bold pb-3 mbr-fonts-style display-5">Have a project? <br>Let's make something great!</h2>
                    <div data-form-type="formoid">
                        <form [formGroup]="apply_form" name="apply_form"
                                (ngSubmit)="applySubmit(apply_form.value)">
                            <div class="row form-style">

                                    <div class="col-lg-12 form-group"
                                    data-for="name">
                                    <input type="text"
                                        class="form-control"
                                        placeholder="Name/Business*"
                                        formControlName="name"
                                        required>
                                    <span *ngIf="f.name.errors &&
                                        f.name.touched">
                                        <small class="text-danger"
                                            *ngIf="f.name.errors.required">Name/Business
                                            is required!</small>
                                    </span>
                                </div>

                                <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control
                                            input" name="email"
                                            formControlName="email"
                                            placeholder="Email Address*"
                                            required>
                                        <span class="text-danger"
                                            *ngIf="f.email.errors &&
                                            f.email.touched">
                                            <small
                                                *ngIf="f.email.errors.required">Email
                                                Address is required!</small>
                                            <small *ngIf="f.email.errors.email">Email
                                                must be a valid email address!</small>
                                        </span>
                                    </div>

                                    <div class="col-lg-6 form-group">
                                            <input type="text" class="form-control
                                                input" name="phone"
                                                placeholder="Phone Number"
                                                formControlName="phone">
                                            <span class="text-danger"
                                                *ngIf="f.phone.errors &&
                                                f.phone.touched">
                                                <small
                                                    *ngIf="f.phone.errors.minlength">Phone
                                                    number must be at least 9
                                                    characters!</small>
                                                <!-- <small *ngIf="f.email.errors.pattern">Phone number must be valid!</small> -->
                                            </span>
                                        </div>

                                        <div class="col-md-12 form-group">
                                                <textarea class="form-control input"
                                                    name="message" rows="4"
                                                    formControlName="message"
                                                    placeholder="Message*" required></textarea>
                                                <span *ngIf="f.message.errors &&
                                                    f.message.touched">
                                                    <small class="text-danger"
                                                        *ngIf="f.message.errors.required">Message
                                                        is required!</small>
                                                </span>
                                            </div>

                                            <div class="col-md-12 form-group">
                                                    <re-captcha #captchaRef (resolved)="validate_captcha($event)"></re-captcha>
                                                </div>   

                                                <div class="input-group-btn mb-5
                                                align-left btn-container form-group"><button
                                                [disabled]="apply_form.invalid || captcha_valid === false"
                                                    type="submit" class="btn btn-form
                                                    btn-bgr btn-success display-4
                                                    form-btn" name="btnSubmit">Apply</button></div>


                            </div>
                        </form>
                    </div>
                </div>
                <!-- Upload form -->
                <div class="col-md-12 col-lg-5">
                    <div class="passport">                    
                                               
                            <div class="avatar-upload">
                                <div class="mbri-plus">
                                    <p class="upload-text upload-placeholder">upload business pitch</p>
                                    <input type='file' #file_upload id="file_upload"
                                    (change)="validate_upload(file_upload.files)"
                                     accept=".png, .jpg, .jpeg, .doc .pdf" />
                                    <label for="imageUpload"></label>
                                    
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview">
                                    </div>
                                </div>                            
                            </div>
                    </div>                
                </div>
                <!-- /Upload form -->
            </div>
            <!-- /Form Contents -->
        </div>
    </section>
    
   
    <app-footer></app-footer>









</div>
</ng-scrollbar>
