<section class="mbr-section content5 cid-r0YEKvexnZ mbr-parallax-background sec5 diagonal-line" id="content5-4">
    <div class="container capital-body-container">     
        <div class="media-container-row section5">    
            <div class="media-container-column title col-md-10 offset-md-1">                
                <h2 class="align-center mbr-bold mbr-white pb-3 display-5 rmd">{{module_data?.name}}
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 display-7 font-weight-normal">
                  {{module_data?.caption}}</h3>
                <img [src]="site_url + '/public/images/' + module_data?.image" class="rounded-circle md" alt="">                        
           </div>
        </div>
   
    </div>
</section>